<style scoped>
  /* pc */
  @media (hover:hover) and (pointer: fine) {
    .gmap {
      width:100%;
      height:850px;
    }
  }
  /* mobile */
  @media (hover:hover) and (pointer:coarse) {
    .gmap {
      width:100%;
      height:450px;
    }
  }
  /* mobile2 */
  @media (hover:none) and (pointer:coarse) {
    .gmap {
      width:100%;
      height:450px;
    }    
  }

</style>

<script>
  import { defineComponent } from "vue";
  import { GoogleMap, Marker, InfoWindow } from "vue3-google-map";

  export default defineComponent({
    components: { GoogleMap, Marker, InfoWindow },
    setup() {
      const center = { lat: 37.514748678287795, lng: 126.89850345162497 };

      return { center };
    },
  })
</script>

<template>
  <div id="wrapper" class="wswrapper contact">
    <div class="container">
      <div class="section section1">
        <div class="contents">
          <ul>
            <li>
              <strong>주소</strong>
              <div>
                데이타스 본사 : 서울 영등포구 경인로 775, 4동 409호<br>
                (문래동3가, 에이스하이테크시티)
              </div>
            </li>
          </ul>
        </div>
        <div class="contents contents_phone">
          <ul>
            <li>
              <strong>연락처</strong>
              <div><span>TEL :</span> 070-8823-1004 &nbsp;&nbsp; <span>FAX :</span> 02-859-1008</div>
              <div><span>E-Mail :</span> datarse@datarse.co.kr</div>
            </li>
          </ul>
        </div>
      </div>
    </div>    

    <div class="section section1" style="margin-top:-80px; padding-bottom:15px;">


          <GoogleMap class="gmap"
            api-key="AIzaSyCjqnMT-lmzcNjcmtWdpkVHUnaDxANP5G8" 
            :center="center"
            :zoom="17"
          >
            <Marker :options="{
              position: center,
              title: '데이타스'
            }">
              <InfoWindow>
                <div id="content">
                  <div id="bodyContent">
                    <b>데이타스</b>
                  </div>
                </div>
              </InfoWindow>
            </Marker>
          </GoogleMap>

    </div>
  </div>

  
</template>