<template>
	<div id="wrapper" class="wswrapper company">
		<div class="cp-title page-title">
			<div class="title-wrap">
				<h2>(주)데이타스는 </h2>
				<div class="location">
					<ul>
						<!--
						<li><a href="../index.html"><i class="fa fa-home" aria-hidden="true"></i></a></li>
						-->
						<li><router-link to="/company"><a>세상을 이롭게 하는 디지털 기술을 개발합니다.</a></router-link></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="section section1">
				<div class="txt1">데이타스의 핵심가치는 다양한 형태로 존재하는 개인정보를<br>보호하고 안전하게 활용하는 것입니다. </div>
				<div class="txt2">
					데이타스는 안전한 데이터 활용의 세계라는 의미로 Data와 Universe 의 합성어입니다. <br> <br>
					<p>데이타스는 데이터 내 다양한 형태로 존재하는 개인정보를 식별 및 보호하고, 안전하게 활용할 수 있는 있는 데이터 세계를 지향합니다.</p>
					<p>데이타스는 2019년 7월 창립한 이후 개인정보보호 분야의 컨설팅을 시작으로 <br>
					개인정보 비식별 처리, 개인정보 관제 모니터링 등의 솔루션 분야로 사업영역을 확대하고 있는 개인정보보호 전문기업입니다.<br>
					4차 산업혁명 시대를 맞이하여 데이터의 활용, 특히 개인정보의 안전한 활용이 요구되는 이 시기에<br>
					최신 기술인 인공지능, 블록체인 등의 기술을 접목하여<br>
					보다 안전하게 활용할 수 있는 다양한 솔루션을 개발하고 보급하는 데에 노력하고자 합니다.
					</p>
					<p>감사합니다.</p>
				</div>
			</div>
			<div class="section section2">
				<div class="contents">
					<h3>일반현황</h3>
					<table>
						<tbody>
							<tr>
								<th>회사명</th>
								<td>(주)데이타스</td>
							</tr>
							<tr>
								<th>대표이사</th>
								<td>김현진</td>
							</tr>
							<tr>
								<th>사업분야</th>
								<td>
									<ul>
										<li><font>소프트웨어 개발·공급</font></li>
										<li><font>개인정보보호 컨설팅</font></li>
										<li><font>학술·연구용역</font></li>
									</ul>
								</td>
							</tr>
							<tr>
								<th>주소</th>
								<td>(주)데이타스 본사 : 서울 영등포구 경인로 775, 4동 409호(문래동3가, 에이스하이테크시티) </td>
							</tr>
							<tr>
								<th>연락처</th>
								<td class="ls0">TEL : 070-8823-1004 &nbsp;&nbsp; FAX : 02-859-1008  &nbsp;&nbsp;/&nbsp;&nbsp;   E-Mail : datarse@datarse.co.kr</td>
							</tr>
							<tr>
								<th>주요연혁</th>
								<td>
									<ul>
										<li>2022. 01. : PAmaster(가명익명정보 통합관리 솔류션) v1.0 나라장터 종합쇼핑몰 등록(조달청)</li>
										<li>2021. 11. : PAmaster(가명익명정보 통합관리 솔류션) v1.0 GS 1등급 인증(TTA)</li>
										<li>2021. 11. : 연구개발유형 벤처기업 확인(벤처기업확인기관)</li>
										<li>2021. 09. : 보호·활용 기술개발 스타트업 챌린지 우수상 수상(한국인터넷진흥원)</li>
										<li>2021. 05. : PAmaster(가명익명정보 통합관리 솔루션) v1.0 조달청 벤처창업혁신조달상품 지정(조달청)</li>
										<li>2021. 05. : 창업기업 확인(중소벤처기업부)</li>
										<li>2021. 05. : 개인정보 가명처리 및 평가 방법 특허 등록 (등록번호: 제 10-2357935호 (가명정보 처리 및 재식별 가능성 평가시스템))</li>
										<li>2021. 04. : 회사명 변경((주)라곰소프트 → (주)데이타스)</li>
										<li>2021. 04. : PAmaster(가명익명정보 통합관리 솔루션) v1.0 저작권 등록 (한국저작권위원회)</li>
										<li>2019. 11. : 연구개발서비스업 등록(과학기술정보통신부)</li>
										<li>2019. 10. : 벤처기업 인증(기술보증기금)</li>
										<li>2019. 09. : 기업부설연구소 설립(한국산업기술협회)</li>
										<li>2019. 07. : 주식회사 라곰소프트 법인설립 및 사업자등록</li>
									</ul>
								</td>
							</tr>
							<tr>
								<th>관련 주요실적</th>
								<td>
									<ul>
										<li>피에이마스터(PAmaster) v1.0 납품(해양수산부, 2022.03.)</li>
										<li>개인정보 가명처리 지원 및 컨설팅 용역(서울특별시, 2022.02.)</li>
										<li>피에이마스터(PAmaster) v1.0 납품(서울특별시, 2022.01.)</li>
										<li>피에이마스터(PAmaster) v1.0 납품((주)더아이엠씨시, 2021.12.)</li>
										<li>피에이마스터(PAmaster) v1.0 납품(엔키노(주), 2021.12.)</li>
										<li>피에이마스터(PAmaster) v1.0 납품(한국인터넷진흥원, 2021.09.)</li>
										<li>2021년 개인정보 통합관제 대상기관 확대(한국사회보장정보원, 2021.08.~2022.01.)</li>
										<li>데이터 공유개방 및 고용분야 가명정보 결합전문기관 운영체계 수립 컨설팅 사업(한국고용정보원, 2021.08.~12.)</li>
										<li>가명정보의 안전한 활용 지원 용역(한국지능정보사회진흥원, 2021.08.~12.)</li>
										<li>빅데이터 플랫폼 및 센터 가명정보 처리역량 강화 지원 용역(한국지능정보사회진흥원, 2021.07~12.)</li>
										<li>NIA 데이터결합지원센터 운영 용역(한국지능정보사회진흥원, 2021.01.~12.)</li>
										<li>개인정보 가명익명처리기술 전문교육(K-ICT빅데이터센터, 2020.09.~11./ 서울시, 2020.11.)</li>
										<li>해외규격인증획득지원사업 데이터 정비 및 품질 분석/진단 용역(한국화학융합시험연구원, 2020.10.~2021.03.)</li>
										<li>개인정보보호 강화 및 비식별조치 컨설팅(한국노인인력개발원, 2020.06.~11.)</li>
										<li>개인정보 비식별 솔루션 개발 컨설팅((주)나일소프트, 2020.01.~06.)</li>
										<li>2019 창업성장기술개발 디딤돌과제 수행(중소벤처기업부, 2019.12.~2020.11.)</li>
										<li>개인정보보호 컨설팅(한국노인인력개발원, 2019.09.~12.)</li>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>			
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
  props: {
    msg: String
  }
}
</script>
