@import url('fonts.css');
@import url('layout.css');
@import url('slider.css');
@import url('slick.css');
@import url('slick-theme.css');
@import url('webslidemenu.css');
@import url('tablet.css');
@import url('mobile.css');



.floatR{float:right;}
.floatL{float:left;}
.floatN{float:none;}

/*== 마진 ==*/
.mt-5{margin-top:5px !important;}
.mt-10{margin-top:10px !important;}
.mt-15{margin-top:15px !important;}
.mt-20{margin-top:20px !important;}
.mt-25{margin-top:25px !important;}
.mt-30{margin-top:30px !important;}

.mr-5{margin-right:5px !important;}
.mr-10{margin-right:10px !important;}
.mr-15{margin-right:15px !important;}
.mr-20{margin-right:20px !important;}
.mr-25{margin-right:25px !important;}
.mr-30{margin-right:30px !important;}

.mb-0{margin-bottom:0px !important;}
.mb-5{margin-bottom:5px !important;}
.mb-10{margin-bottom:10px !important;}
.mb-12{margin-bottom:12px !important;}
.mb-15{margin-bottom:15px !important;}
.mb-18{margin-bottom:18px !important;}
.mb-20{margin-bottom:20px !important;}
.mb-25{margin-bottom:25px !important;}
.mb-30{margin-bottom:30px !important;}

.ml-5{margin-left:5px !important;}
.ml-10{margin-left:10px !important;}
.ml-15{margin-left:15px !important;}
.ml-20{margin-left:20px !important;}
.ml-25{margin-left:25px !important;}
.ml-30{margin-left:30px !important;}

/*== 체크박스 디자인 ==*/

input[type="radio"],input[type="checkbox"] {
  visibility: hidden;
  display:none;
}
label.radio {
	cursor: pointer;
  text-indent: 25px;
  overflow: visible;
  display: inline-block;
  position: relative;
  font-size:0.938em;
  height: 17px;
  line-height: 16px;
}

label.radio:before {
  background: #fff;
  border:1px solid #d7d7d7;
  content:'';
  position: absolute;
  top:0px;
  left: 0;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  box-sizing:border-box;
}

label.radio:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 7px;
	height: 7px;
	top: 5px;
	left: 5px;
	background: #007dc6;
	border-radius:50%;
}

input[type="radio"]:checked + label:after {
	opacity: 1;
}


label.check {
	cursor: pointer;
  text-indent: 25px;
  overflow: visible;
  display: inline-block;
  position: relative;
  color:#9b9b9b;
  font-size:0.938em;
  height:17px;
  line-height: 16px;

  vertical-align:middle;
}

label.check:before {
  background: #f7f7f7;
  border:1px solid #d7d7d7;
  content:'';
  position: absolute;
  top:0px;
  left: 0;
  width: 17px;
  height: 17px;
  border-radius: 5px;
  box-sizing:border-box;
}

label.check:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 0.5em;
	height: 0.25em;
	background: transparent;
	top: 4.5px;
	left: 4.5px;
	border: 3px solid #007dc6;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

input[type="checkbox"]:checked + label:after {
	opacity: 1;
}

input[type="checkbox"]:checked + label:before{border-color:#54c0e1;}
input[type="checkbox"]:checked + label:after {opacity: 1;}
input[type="checkbox"] + label:before{border-color: #54c0e1;}
input[type="checkbox"] + label:after {opacity: 0;}


/*== 공통 ==*/
.ls0{letter-spacing:0 !important;}