/*
* Noto Sans KR (korean) http://www.google.com/fonts/earlyaccess
 */

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 200;
  src: require('@/common/fonts/NotoSansCJKkr-Light.eot');
  src: require('@/common/fonts/NotoSansCJKkr-Lightd41d.eot?#iefix') format('embedded-opentype'),
       require('@/common/fonts/NotoSansKR-Light.otf') format('opentype'),
       require('@/common/fonts/NotoSansCJKkr-Light.woff') format('woff'),
	   require('@/common/fonts/NotoSansCJKkr-Light.svg#NotoSansCJKkr-Light') format('svg');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: require('@/common/fonts/NotoSansCJKkr-DemiLight.eot');
  src: require('@/common/fonts/NotoSansCJKkr-DemiLightd41d.eot?#iefix') format('embedded-opentype'),
       require('@/common/fonts/NotoSansKR-DemiLight.otf') format('opentype'),
       require('@/common/fonts/NotoSansCJKkr-DemiLight.woff') format('woff'),
	   require('@/common/fonts/NotoSansCJKkr-DemiLight.svg#NotoSansCJKkr-DemiLight') format('svg');
}