/* =========================================== */
/*    00. 공통                                  */
/* =========================================== */
/*메인*/
.wrapper{margin-top:90px;}
/*서브*/
#wrapper{margin-top:90px;}
#wrapper .page-title{height:280px;text-align:center;position:relative;}
#wrapper .page-title .title-wrap{position: absolute; left: 0; width: 100%; top: 50%; margin-top: -61.5px;}
#wrapper .page-title h2{font-size:40px;color:#fff;position:relative;font-weight:500; padding-bottom: 18px;}
#wrapper .page-title h2:after{content:''; width:40px;height:1px; background:#fff;position:absolute; left:50%;margin-left:-20px;bottom:0;}
#wrapper .page-title .location{text-align:center;margin-top:17px;}
#wrapper .page-title .location ul{display:inline-block;}
#wrapper .page-title .location li{padding-right:13px;color:#fff;position:relative;margin-right:9px;float:left;}
#wrapper .page-title .location li a{color:#fff; font-size:22px;}
#wrapper .page-title .location li i.fa{font-size:16px;color:#fff;}
#wrapper .page-title .location li:after{content:'\f105'; display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto;-webkit-font-smoothing: antialiased;position:absolute;right:0;top:50%;margin-top:-7px;}
#wrapper .page-title .location li:last-child{padding-right:0;margin-right:0;}
#wrapper .page-title .location li:last-child:after{display:none;}
#wrapper .container .section{padding:75px 0;position:relative;}
#wrapper .container .section.section1{padding:75px 20px 75px;}
/*
#wrapper .container .section.section1{padding:129px 20px 75px;}
#wrapper .container .section.section1:before{content:'';width:1px;height:40px;background:#b5b5b5; position:absolute;left:50%;top:50px;}*/
#wrapper .container .section h3{font-size:32px;font-weight:500;text-align:center;padding-bottom:22px; line-height:42px;}
#wrapper .container .section .contents{width:100%; max-width:1200px;margin:0 auto;}
/* =========================================== */
/*    00. 푸터                                  */
/* =========================================== */
#footer{background:#2b2b2b; height:229px;padding:50px 0;text-align: left;}
#footer .ft{width: 100%;max-width: 1240px;margin: 0px auto;padding: 0px 20px; position:relative;}
#footer h1.logo{width:100%;margin-bottom:25px;}
#footer h1.logo img.mobile{display:none;}
#footer .ft_menu{position:absolute;right:0; top:0;}
#footer .ft_menu > ul > li{width:auto;float:left;margin-left:46px;}
#footer .ft_menu > ul > li > a{font-size:13px; color:#d8d8d8;}
#footer .ft_menu > ul > li .sub{margin-top:4px;}
#footer .ft_menu > ul > li .sub > li{}
#footer .ft_menu > ul > li .sub > li a{font-size:13px; color:#999;display:inline-block; line-height:21px;}
#footer address{font-size:13px;color:#999; line-height:20px;white-space:pre-line;}
#footer .ftBar{display:inline-block;padding-right:8px;margin-right:6px; position:relative;}
#footer .ftBar:before{content:'';position:absolute;right:0;width:1px;height:13px; background:#999; display:inline-block;top:50%;margin-top:-6.5px;}
#footer .ftBar.mobile:before{display:none;}
#footer .copy{font-size:13px;color:#999; line-height:20px;}
#footer .naverBand{display:none;}
/* =========================================== */
/*    01. 메인                                  */
/* =========================================== */
#main .wrapper > .noticeWrap{background:rgba(0,0,0,0.1)}
#main .wrapper > .noticeWrap .noticeBox{max-width:1200px;margin:0 auto;text-align:center;padding:30px 0;font-size:20px;}
#main .wrapper > .section .contents{text-align:center;width: 100%;max-width: 1240px;margin: 0px auto;padding: 0px 20px;}
#main .wrapper > .section .contents h4{font-size:39px;font-weight:500; position:relative;padding-bottom:26px;}
#main .wrapper > .section .contents h4:after{content:'';width:34px;height:2px;position:absolute;bottom:0;left:50%;margin-left:-17px;}
#main .wrapper > .section1{padding:64px 0px 73px}
#main .wrapper > .section1 .contents{}
#main .wrapper > .section1 .contents h4{margin-bottom:17px;}
#main .wrapper > .section1 .contents h4:after{background:#2e3192}
#main .wrapper > .section1 .contents p.txt{font-size:20px; font-weight:300;line-height:28px; color:#555; white-space:pre-line;margin-bottom:32px;}
#main .wrapper > .section1 .contents ul{width:100%; display:inline-block; }
#main .wrapper > .section1 .contents li{width:33.3333333333%;float:left;}
#main .wrapper > .section1 .contents li .liwrap{}
#main .wrapper > .section1 .contents li .liwrap img{margin-bottom:12px;}
#main .wrapper > .section1 .contents li .liwrap h5{font-size:22px; font-weight:500;color:#333;margin-bottom:11px;}
#main .wrapper > .section1 .contents li .liwrap p{font-size:18px; font-weight:300;line-height:22px; color:#555; white-space:pre-line;}
#main .wrapper > .section2{background:url('../img/main/main_section1.png')no-repeat; height:750px; color:#fff;padding:67px 0 125px;}
#main .wrapper > .section2 .contents .wedo-wrap{position:relative; height:420px;}
#main .wrapper > .section2 .contents h4{color:#fff; margin-bottom:55px;}
#main .wrapper > .section2 .contents h4:after{background:#fff}
#main .wrapper > .section2 .contents .centerImg{background:url('../img/main/main_icon4.png')no-repeat; width:432px;height:422px;position:absolute;left:50%;margin-left:-216px}
#main .wrapper > .section2 .contents > .wedo-wrap > ul > li{color:#fff;position:absolute;width:350px;}
#main .wrapper > .section2 .contents li.liwrap1{text-align:right;}
#main .wrapper > .section2 .contents li.liwrap2{right:0;text-align:left;}
#main .wrapper > .section2 .contents li.liwrap3{bottom:0;text-align:right;}
#main .wrapper > .section2 .contents li.liwrap4{right:0;bottom:0;text-align:left;}
#main .wrapper > .section2 .contents li h5{color:#fff; font-weight:500;position:relative;padding-bottom:13px;margin-bottom:12px;}
#main .wrapper > .section2 .contents li h5:after{content:'';width:216px;height:1px;background:#fff;position:absolute;bottom:0;}
#main .wrapper > .section2 .contents li p{color:#fff;font-size:18px; font-weight:300;line-height:24px;margin-bottom:8px;}
#main .wrapper > .section2 .contents li li{color:#fff;font-size:18px; font-weight:300;line-height:24px;}
#main .wrapper > .section2 .contents li.liwrap4 ul{margin-bottom:15px;}
#main .wrapper > .section2 .contents li.liwrap2 h5:after{left:0;}
#main .wrapper > .section2 .contents li.liwrap4 h5:after{left:0;}
#main .wrapper > .section2 .contents li.liwrap1 h5:after{right:0;}
#main .wrapper > .section2 .contents li.liwrap3 h5:after{right:0;}
#main .wrapper > .section3{background:url('../img/main/main_section2.png')no-repeat; height:383px;padding:64px 0  }
#main .wrapper > .section3 .contents {max-width:1309px;}
#main .wrapper > .section3 .contents h4{margin-bottom:35px;}
#main .wrapper > .section3 .contents h4:after{background:#2e3192}
#main .wrapper > .section3 .contents .carouselWrap{max-width:1220px;width:100%;margin:0 auto;}

/* =========================================== */
/*    02-1. COMPANY                              */
/* =========================================== */
#wrapper{}
#wrapper .cp-title.page-title{background:url('../img/company/bg1.png')no-repeat top center;background-size:cover;}
#wrapper.company .container{}
#wrapper.company .container .section.section1{text-align:center;}
#wrapper.company .container .section.section1 .txt1{font-size:32px;color:#2e3192;margin-bottom:40px;font-weight:500;}
#wrapper.company .container .section.section1 .txt2{}
#wrapper.company .container .section.section1 .txt2 p{font-size:17px;line-height:26px; white-space:pre-line;margin-bottom:26px;font-weight:400;}
#wrapper.company .container .section.section1 .txt2 p:last-child{margin-bottom:0;}
#wrapper.company .container .section.section2{background:#f9f9ff;}
#wrapper.company .container .section.section2 table{width:100%;border-top:2px solid #292c89;}
#wrapper.company .container .section.section2 table th{background:#fff;border-bottom:1px solid #e5e5e5;font-size:15px; color:#292c89;text-align:left;padding:11px 10px 11px 50px;}
#wrapper.company .container .section.section2 table td{background:#fff;border-bottom:1px solid #e5e5e5;font-size:14px; color:#555; line-height:22px;font-weight:400;text-align:left;padding:11px 10px;}
#wrapper.company .container .section.section2 table td ul li{position:relative;padding-left:8px;font-size:16px;color:#555; line-height:25px;font-weight:400;text-align:left;}
#wrapper.company .container .section.section2 table td ul li:before{content:'';width:2px;height:2px;background:#555;position:absolute;top:11px;left:0;}
#wrapper.company .container .section.section2 .contents{width:100%; max-width:1140px; margin:0 auto;padding:0 20px;}


/* =========================================== */
/*    02-2. CEO 인사말                             */
/* =========================================== */

#wrapper.ceo .container .section.section1 .contents{width:100%; max-width:1240px;margin:0 auto;}
/*#wrapper.ceo .container .section.section1 .txt-wrap{width:552px;margin:0 0 0 auto;}*/
#wrapper.ceo .container .section.section1 .content-wrap{display:inline-block;width:100%;}
#wrapper.ceo .container .section.section1 .img{width:55%;float:left;text-align:center;}
#wrapper.ceo .container .section.section1 .img img{width:100%;max-width:100%;padding:41px 0;}
#wrapper.ceo .container .section.section1 .txt-wrap{width:45%;float:left;}
#wrapper.ceo .container .section.section1 .txt-wrap h3{text-align:left;font-weight:500;}
#wrapper.ceo .container .section.section1 .txt-wrap h3 span{color:#2e3192;font-weight:500; font-size:32px;display:inline-block;}
#wrapper.ceo .container .section.section1 .txt-wrap .txt1{}
#wrapper.ceo .container .section.section1 .txt-wrap .txt1 p{font-size:15px; font-weight:300;line-height:26px; color:#555;margin-bottom:26px;}
#wrapper.ceo .container .section.section1 .txt-wrap .txt1 p:last-child{}
#wrapper.ceo .container .section.section1 .txt-wrap .txt {font-size:16px; font-weight:500;line-height:26px; color:#555;margin-bottom:26px;}
#wrapper.ceo .container .section.section1 .txt-wrap .txt span{margin-bottom:0;color:#2e3192; }
#wrapper.ceo .container .section.section1 .txt-wrap .txt2{margin-bottom:26px;}
#wrapper.ceo .container .section.section1 .txt-wrap .txt2 p{margin-bottom:5px;}
#wrapper.ceo .container .section.section1 .txt-wrap .txt2 div{font-size:15px; font-weight:300;line-height:26px; color:#555;}
#wrapper.ceo .container .section.section1 .txt-wrap .txt2 ul{margin-bottom:20px;}
#wrapper.ceo .container .section.section1 .txt-wrap .txt2 li{font-size:15px; font-weight:400;line-height:26px; color:#555;}
#wrapper.ceo .container .section.section1 .txt-wrap .txt2 li strong{color:#2e3192; font-weight:500;display:inline-block;margin-right:5px;}
#wrapper.ceo .container .section.section1 .txt-wrap .sign{font-size:16px; font-weight:400;margin-top:35px;}
#wrapper.ceo .container .section.section1 .txt-wrap .sign span{font-size:16px; font-weight:400;margin-right:12px;}

/* =========================================== */
/*    02-3. 연혁                                  */
/* =========================================== */
#wrapper.history .container .section.section1{background:url('../img/company/historyBg.png') center bottom no-repeat;padding:131px 20px 150px;}
#wrapper.history .container .section h3{color:#2e3192; white-space:pre-line;}
.history_wrap{position:relative;margin:50px auto 0;height:1376px;}
.history_wrap > ul{position:relative;margin:0px auto;height:1304px;}
.history_wrap > ul:before{content:'';width:1px;height:100%;background:#d0d0d0; position:Absolute; left:50%;margin-left:-0.5px;top:0;}
.history_wrap > ul > li{position:absolute;width:50%}
.history_wrap > ul > li.history_left{left:0;text-align:right;position:relative;}
.history_wrap > ul > li.history_right{left:50%;text-align:left;position:relative;}
.history_wrap > ul > li.history_left .year:before{content:'';position:absolute;background:#f6f7f9;border:2px solid #2e3192;border-radius:50%;box-sizing:border-box;width:14px;height:14px;right:0;top:3px;}
.history_wrap > ul > li.history_right .year:before{content:'';position:absolute;background:#f6f7f9;border:2px solid #2e3192;border-radius:50%;box-sizing:border-box;width:14px;height:14px;left:0;top:3px;}
.history_wrap > ul > li.history_left .year{right:-6px;padding-right:44px;}
.history_wrap > ul > li.history_right .year{left:-8px;padding-left:44px;}
.history_wrap > ul > li.history_left ul{padding-right:36px}
.history_wrap > ul > li.history_right ul{padding-left:36px}
.history_wrap > ul > li ul{padding-top:38px}
.history_wrap > ul > li ul li{font-size:15px;line-height:25px;color:#555;position:relative;font-weight:300;}
.history_wrap > ul > li ul li span.date{font-size:15px;line-height:25px;color:#333;font-weight:500;}

.history_wrap > ul > li.history_left ul li{padding-right:58px;}
.history_wrap > ul > li.history_right ul li{padding-left:58px;}
.history_wrap > ul > li.history_left ul li span.date{position:absolute; right:0;margin-left:28px;}
.history_wrap > ul > li.history_right ul li span.date{position:absolute; left:0;margin-right:28px;}
.history_wrap .year{position:absolute;top:-3px;line-height:18px}
.history_wrap .year span{color:#2e3192; font-size:22px;font-weight:bold;}
.history_wrap .year2019{top:0px;margin-bottom:26px;}
.history_wrap .year2018{top:0px;margin-bottom:26px;}
.history_wrap .year2017{top:0px;margin-bottom:26px;}
.history_wrap .year2016{top:0px}
.history_wrap .year2015{top:26px}
.history_wrap .year2014{top:56px}
.history_wrap .year2013{top:83px}
.history_wrap .year2012{top:126px}
.history_wrap .year2011{top:153px}
.history_wrap .year2010{top:195px} 

/* =========================================== */
/*    02-4. 조직도                                 */
/* =========================================== */
.organization#wrapper .container .section.section1{/*background:url('../img/company/orgBg.png')no-repeat center 125px; background-size:auto*/}
.organization .orgImg{text-align:center;margin:31px 0;}
.organization .orgImg img{max-width:100%;width:100%;}
.organization .orgImg_m{display:none;}


/* =========================================== */
/*    02-5. 고객/협력사                             */
/* =========================================== */
#wrapper.partner .container .section.section1 .contents{}
#wrapper.partner .container .section.section1 .contents .content-wrap{display:inline-block; width:100%;    padding-left: 5px; padding-right: 5px; margin-left: auto; margin-right: auto;}
#wrapper.partner .container .section.section1 .contents ul{clear: both; margin-left: -15px; margin-right: -15px; position: relative;}
#wrapper.partner .container .section.section1 .contents ul li{width:25%;float: left;padding-left: 10px; padding-right: 10px; box-sizing: border-box;padding-bottom:26px;text-align:center;}
#wrapper.partner .container .section.section1 .contents ul li img{border:1px solid #d6d6d6; line-height:0; max-width:100%;width:100%;box-sizing: border-box;}
#wrapper.partner .container .section.section1 .contents ul li div{font-size:16px;color:#555; font-weight:300;}
#wrapper.partner .container .section.section1 .contents ul:last-child li{padding-bottom:0px;}


/* =========================================== */
/*    03-1. BUSINESS                           */
/* =========================================== */
#wrapper{}
#wrapper .business-title.page-title{background:url('../img/business/bg.png')no-repeat top center;background-size:cover;}

#wrapper.business .container .section.section1 .contents .content-wrap{text-align:center;}
#wrapper.business .container .section.section1 .contents ul{clear: both;position: relative;background:#f9f9ff;width:100%;display:inline-block;}
#wrapper.business .container .section.section1 .contents ul:first-child{border-top:2px solid #292c89;}
#wrapper.business .container .section.section1 .contents ul li{width:50%;display:inline-block; box-sizing: border-box;text-align:center;vertical-align:middle;}

#wrapper.business .container .section.section1 .contents ul li.img{line-height:0;margin-right:-2px;margin-left:-2px;}
#wrapper.business .container .section.section1 .contents ul li.img img{max-width:100%;width:100%;}
#wrapper.business .container .section.section1 .contents ul li.txt{padding:0 20px;vertical-align:top;margin-right:-2px;margin-left:-2px; position:relative;}
#wrapper.business .container .section.section1 .contents ul li.txt .txtwrap{position:absolute;}
#wrapper.business .container .section.section1 .contents ul li.txt .txtwrap h3{color:#292c89;font-weight:500;padding-bottom:11px;}
#wrapper.business .container .section.section1 .contents ul li.txt .txtwrap div{font-size:15px;line-height:26px; color:#555;white-space:pre-line;}
#wrapper.business .container .section.section1 .contents ul:nth-child(2) {margin-top:0px;}
#wrapper.business .container .section.section1 .contents ul:nth-child(2) li.img{padding-left:0px;margin:0; float:right;}
#wrapper.business .container .section.section1 .contents ul:nth-child(2) li.txt{margin-left:-2px;}
#wrapper.business .container .section.section1 .contents ul:nth-child(2) li.txt .txtwrap{}
#wrapper.business .container .section.section1 .contents ul:nth-child(4) {margin-top:0px;}
#wrapper.business .container .section.section1 .contents ul:nth-child(4) li.img{padding-left:0px;margin:0; float:right;}
#wrapper.business .container .section.section1 .contents ul:nth-child(4) li.txt{margin-left:-2px;}
#wrapper.business .container .section.section1 .contents ul:nth-child(4) li.txt .txtwrap{}
.img .thumbnail-wrapper,
.txt .thumbnail-wrapper { width: 100.086%; } 
.img .thumbnail,
.txt .thumbnail { 
position: relative; padding-top: 66.723%; /* 1:1 ratio */ overflow: hidden; 
} 
.img .thumbnail .centered,
.txt .thumbnail .centered { 
position: absolute; 
top: 0; 
left: 0; 
right: 0; 
bottom: 0; 
-webkit-transform: translate(50%,50%); 
-ms-transform: translate(50%,50%); 
transform: translate(50%,50%); 
} 
.img .thumbnail .centered img,
.txt .thumbnail .centered .txtwrap{ 
position: absolute; 
top: 0; 
left: 0; 
max-width: 100%; 
height: auto; 
-webkit-transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%); 
transform: translate(-50%,-50%); 
}
.img img.landscape { width: auto; height: 100%; }
.img img.portrait { width: 100%; height: auto; }

/* =========================================== */
/*    03-2. BUSINESS HISTORY                   */
/* =========================================== */
#wrapper.businessHistory {}
#wrapper.businessHistory .container .section.section1 .contents{max-width:1240px;padding:0 20px;}
#wrapper.businessHistory .container .section.section1 table{width:100%;border-bottom:1px solid #e5e5e5;border-top:2px solid #292c89;}
#wrapper.businessHistory .container .section.section1 table td{width:50%;background:#fff;border-bottom:1px solid #e5e5e5;font-weight:400;text-align:left;padding:24px 19px;vertical-align:top;}
#wrapper.businessHistory .container .section.section1 table tr:last-child td{border-bottom:0;}
#wrapper.businessHistory .container .section.section1 table td h5{font-size:15px;font-weight:bold; line-height:26px;}
#wrapper.businessHistory .container .section.section1 table td ul{}
#wrapper.businessHistory .container .section.section1 table td ul li{padding-left:10px;position:relative; font-size:15px; line-height:26px;font-weight:300;}
#wrapper.businessHistory .container .section.section1 table td ul li strong{font-weight:bold;}
#wrapper.businessHistory .container .section.section1 table td ul li:before{content:''; width:2px;height:2px;background:#333; top:12px;left:3px;position:absolute;}
#wrapper.businessHistory .container .section.section1 table td .img{width:40%;display:inline-block;vertical-align:top;}
#wrapper.businessHistory .container .section.section1 table td .img img{max-width:100%;width:80%;}
#wrapper.businessHistory .container .section.section1 table td .txtwrap{width:59%;display:inline-block;vertical-align:top;}
#wrapper.businessHistory .container .section.section1 table td .txtwrap .txt{margin-bottom:26px;}
#wrapper.businessHistory .container .section.section1 table td .txtwrap .txt:last-child{margin-bottom:0;}


/* =========================================== */
/*    04. RECRUIT                              */
/* =========================================== */

#wrapper .recruit-title.page-title{background:url('@/common/img/recruit/bg.png')no-repeat top center;background-size:cover;}
#wrapper.recruit .container h3{font-weight:500;}
#wrapper.recruit .container .section.section1 .contents{text-align:center;}
#wrapper.recruit .container .section.section1 .contentWrap{max-width:1100px;width:100%;margin:0 auto;display:inline-block;}
#wrapper.recruit .container .section.section1 .row{ padding-left: 5px; padding-right: 5px; margin-left: auto; margin-right: auto;}
#wrapper.recruit .container .section.section1 ul{clear: both;margin-left: -55px; margin-right: -55px; position: relative;}
#wrapper.recruit .container .section.section1 ul li{width:25%;padding:0 50px;box-sizing:border-box;float:left;}
#wrapper.recruit .container .section.section1 ul li .txt{padding-top:70px;padding-bottom:20px;background-size:100%;text-align:center;}
#wrapper.recruit .container .section.section1 ul li .txt h5{font-size:20px; font-weight:bold;margin-bottom:7px;}
#wrapper.recruit .container .section.section1 ul li .txt div{font-size:15px; line-height:22px; font-weight:400;}
#wrapper.recruit .container .section.section1 ul li.recruit-1{}
#wrapper.recruit .container .section.section1 ul li.recruit-1 .txt{background:url('@/common/img/recruit/recruit1.png')no-repeat top center;}
#wrapper.recruit .container .section.section1 ul li.recruit-2 .txt{background:url('@/common/img/recruit/recruit2.png')no-repeat top center;}
#wrapper.recruit .container .section.section1 ul li.recruit-3 .txt{background:url('@/common/img/recruit/recruit3.png')no-repeat top center;}
#wrapper.recruit .container .section.section1 ul li.recruit-4 .txt{background:url('@/common/img/recruit/recruit4.png')no-repeat top center;}
#wrapper.recruit .container .section.section1 ul li.recruit-5 .txt{background:url('@/common/img/recruit/recruit5.png')no-repeat top center;}
#wrapper.recruit .container .section.section1 ul li.recruit-6 .txt{background:url('@/common/img/recruit/recruit6.png')no-repeat top center;}
#wrapper.recruit .container .section.section1 ul li.recruit-7 .txt{background:url('@/common/img/recruit/recruit7.png')no-repeat top center;}
#wrapper.recruit .container .section.section1 ul li.recruit-8 .txt{background:url('@/common/img/recruit/recruit8.png')no-repeat top center;}
#wrapper.recruit .container .section.section1 ul li.recruit-9 .txt{background:require('@/common/img/recruit/recruit9.png')no-repeat top center;}

#wrapper.recruit .container .section.section2{background:#f9f9ff;} 
#wrapper.recruit .container .section.section2 .contents{text-align:center;}
#wrapper.recruit .container .section.section2 .contents .contentWrap{max-width:1100px;width:100% ;margin:0 auto;display:inline-block;}
#wrapper.recruit .container .section.section2 .contents .contentWrap ul{}
#wrapper.recruit .container .section.section2 .contents .contentWrap ul li{float:left;text-align:left;}
#wrapper.recruit .container .section.section2 .contents .contentWrap ul li:nth-child(1){padding-top:21px;margin-right:25px;border-top:2px solid #292c89;width:calc(25% - 25px);font-weight:bold; font-size:20px;}
#wrapper.recruit .container .section.section2 .contents .contentWrap ul li.txt{padding:17px 0 34px;border-top:2px solid #cbcbcb;width:75%;}
#wrapper.recruit .container .section.section2 .contents .contentWrap ul li.txt p{line-height:30px; font-size:16px;color:#555; font-weight:400;}
#wrapper.recruit .container .section.section2 .contents .contentWrap ul li.txt strong{color:#333;font-weight:500;}
#wrapper.recruit .container .section.section2 .contents .contentWrap .downLink{margin-top:12px;}
#wrapper.recruit .container .section.section2 .contents .contentWrap .downLink a{ color:#292c89; font-size:18px; font-weight:500;width:242px;height:56px;border:2px solid #292c89; border-radius:50px; display:inline-block; text-align:left; box-sizing: border-box; padding: 0 25px; line-height: 50px;}

#wrapper.recruit .container .section.section2 .contents .contentWrap .downLink a{background:url('../img/recruit/downIcon.png')no-repeat 194px;}
@media all and (max-width:1218px){
#wrapper.recruit .container .section.section1 .contents{text-align:center;}
#wrapper.recruit .container .section.section1 .contentWrap{max-width:1100px;width:100%;margin:0 auto;display:inline-block;}
#wrapper.recruit .container .section.section1 .row{ padding-left: 0px; padding-right: 0px; margin-left: auto; margin-right: auto;}
#wrapper.recruit .container .section.section1 ul{clear: both;margin-left: 0px; margin-right: 0px; position: relative;}
#wrapper.recruit .container .section.section1 ul li{width:25%;padding:0 0px;box-sizing:border-box;float:left;}
}

/* =========================================== */
/*    05. CONTACT US                           */
/* =========================================== */
#wrapper .contact-title.page-title{background:url('../img/contact/bg.png')no-repeat top center;background-size:cover;}
#wrapper.contact .google-maps {position: relative; height: 0; overflow: hidden;}
#wrapper.contact .google-maps iframe {position: absolute; top: 0; left: 0; width: 100% !important; height: 100% !important;}
#wrapper.contact .google-maps #map{height: 0;overflow: hidden;padding-bottom: 35%;position: relative;}

#wrapper.contact .section.section1{text-align:center;padding:75px 20px;}
#wrapper.contact .container .section.section1:before{display:none;}
#wrapper.contact .section.section1 ul{width:100%;display:inline-block;}
#wrapper.contact .section.section1 li{width:50%;float:left;text-align:left; padding-left:74px; min-height:54px;}
#wrapper.contact .section.section1 li:nth-child(1){background:url('../img/contact/icon1.png')no-repeat 0 2px;}
#wrapper.contact .section.section1 .contents_phone li:nth-child(1){background:url('../img/contact/icon2.png')no-repeat 0 2px;}
#wrapper.contact .section.section1 li strong{font-size:18px;color:#292c89; font-weight:bold;}
#wrapper.contact .section.section1 li div{font-size:18px;}
#wrapper.contact .section.section1 li div span{font-size:18px; font-weight:400; }
#wrapper.contact .section.section1 li:nth-child(2) div{letter-spacing:0;  font-weight:300;}
#wrapper.contact .section.section1 li:nth-child(2) div span{letter-spacing:0;}



/* =========================================== */
/*    06. SOLUTION                             */
/* =========================================== */
#wrapper .solution-title.page-title{background:url('../img/solution/bg.png')no-repeat top center;background-size:cover;}
#wrapper.solution .container .section.section1{}
#wrapper.solution .container .section.section1 h3{color:#242424; font-weight:500;}
#wrapper.solution .container .section.section1 .sub-txt{text-align:center;margin-bottom:35px;}
#wrapper.solution .container .section.section1 .sub-txt .txt1{font-size:18px; line-height:22px; color:#555;margin-bottom:3px;}
#wrapper.solution .container .section.section1 .sub-txt .txt1 strong{}
#wrapper.solution .container .section.section1 .sub-txt .txt2{font-size:15px; line-height:26px; color:#555;}

#wrapper.solution .container .section.section1 table{}
#wrapper.solution .container .section.section1 .contents{max-width:1240px;padding:0 20px;}
#wrapper.solution .container .section.section1 table{width:100%;border:1px solid #e5e5e5;border-top:2px solid #292c89;border-left:0;border-right:0;}
#wrapper.solution .container .section.section1 table td{width:50%;background:#fff;border-bottom:1px solid #e5e5e5;font-weight:400;text-align:left;padding:24px 19px;}
#wrapper.solution .container .section.section1 table td:nth-child(1){border-right:1px solid #e5e5e5;border-left:0;}
#wrapper.solution .container .section.section1 table td h4{font-size:18px;font-weight:bold; color:#555;margin-bottom:23px;}
#wrapper.solution .container .section.section1 table td .txt{font-size:14px;line-height:22px; color:#555;}
#wrapper.solution .container .section.section1 .case{margin-top:20px;padding:0 19px;}
#wrapper.solution .container .section.section1 .case h5{font-size: 15px; color: #292c89; text-align: left; display:inline-block;margin-right:20px;}
#wrapper.solution .container .section.section1 .case div{font-size: 14px; color: #555; line-height: 22px; font-weight: 300; text-align: left; display:inline-block;}

#wrapper.chain{}
#wrapper.chain .section.section1{}
#wrapper.chain .section.section1 .chainBox{position:relative;}
#wrapper.chain .section.section1 .chainBox .img{text-align:center;margin-top:15px;}
#wrapper.chain .section.section1 .chainBox .img img{}
#wrapper.chain .section.section1 .chainBox .img img.m{display:none;}
#wrapper.chain .section.section1 .chainBox .text{position:Absolute; }
#wrapper.chain .section.section1 .chainBox .text div.m{display:none;}
#wrapper.chain .section.section1 .chainBox .txt1{text-align:right;top:102px;width:50%;padding-right:20%;}
#wrapper.chain .section.section1 .chainBox .txt2{top:60px;right:0px;width:50%;padding-left:20%;text-align: left;}
#wrapper.chain .section.section1 .chainBox .txt3{top:240px;right:0px;width:50%;padding-left:19%;}
#wrapper.chain .section.section1 .chainBox .text h5{font-weight:bold; font-size:25px;margin-bottom:10px;}
#wrapper.chain .section.section1 .chainBox .text ul{}
#wrapper.chain .section.section1 .chainBox .text ul li{font-size:20px;line-height:30px;color:#555;}
#wrapper.chain .section.section2{background:#f9f9ff}
#wrapper.chain .section.section2 h3{color:#242424; font-weight:500;}
#wrapper.chain .section.section2 h3 span{font-size:22px;}
#wrapper.chain .section.section2 .sub-txt{text-align:center;margin-bottom:35px;}
#wrapper.chain .section.section2 .sub-txt .txt1{font-size:15px; line-height:26px; color:#555;}
#wrapper.chain .section.section2 table{}
#wrapper.chain .section.section2 .contents{max-width:1240px;padding:0 20px;}
#wrapper.chain .section.section2 table{width:100%;border:1px solid #e5e5e5;border-top:2px solid #292c89;border-left:0;border-right:0;}
#wrapper.chain .section.section2 table td{width:50%;background:#fff;border-bottom:1px solid #e5e5e5;font-weight:400;text-align:left;padding:18px 40px;}
#wrapper.chain .section.section2 table td:nth-child(1){border-right:1px solid #e5e5e5;border-left:0;}
#wrapper.chain .section.section2 table td h4{font-size:30px;font-weight:bold; color:#f18d00;display:inline-block; margin-right:10px;}
#wrapper.chain .section.section2 table td .txt{font-size:18px;line-height:22px; color:#555;display:inline-block;font-weight:bold;}
#wrapper.chain .section.section2 .case{margin-top:20px;padding:0 19px;}
#wrapper.chain .section.section2 .case h5{font-size: 15px; color: #292c89; text-align: left; display:inline-block;margin-right:20px;}
#wrapper.chain .section.section2 .case ul {display:inline-block;}
#wrapper.chain .section.section2 .case ul li{font-size: 14px; color: #555; line-height: 22px; font-weight: 300; text-align: left; display:inline-block;position:relative;padding-left:10px;margin-right:20px;}
#wrapper.chain .section.section2 .case ul li:before{content:'';width:3px;height:3px; border-radius:50px; background:#292c89;position:absolute; top:10px;left:0}
#wrapper.chain .section.section3{}
#wrapper.chain .section.section3 .contents{max-width:1240px;padding:0 20px;}
#wrapper.chain .section.section3 h3{color:#242424; font-weight:500;}
#wrapper.chain .section.section3 table{width:100%;border-top:2px solid #292c89;}
#wrapper.chain .section.section3 table h4{font-size:22px; font-weight:bold;margin-bottom:96px;}
#wrapper.chain .section.section3 table h4 span{font-size:20px; font-weight:Bold; color:#fff; display:inline-block; background:#292c89;width:30px; height:30px; border-radius:3px; text-align:center; line-height:30px;margin-right:10px;}
#wrapper.chain .section.section3 table .txt1{font-size:18px; font-weight:500;margin-bottom:10px; color:#555;}
#wrapper.chain .section.section3 table .txt2{font-size:14px; line-height:22px; color:#555;}
#wrapper.chain .section.section3 table td:first-child{background:#f9f9ff;}
#wrapper.chain .section.section3 table td{position:relative;padding:47px 30px;}
#wrapper.chain .section.section3 table td:last-child{background:#f9f9ff;}
#wrapper.chain .section.section3 table td .tbg1{background:#f7f7f7;}
#wrapper.chain .section.section3 table td .bg{position:absolute;top:50px;right:30px;}
#wrapper.chain .section.section3 table td .bg1{}
#wrapper.chain .section.section3 table td .bg2{right:60px;}
#wrapper.chain .section.section3 table td .bg3{}

@media all and (max-width:1200px){
#wrapper.chain .section.section2 table td h4{width:100%;display:inline-block; margin-right:0px;}
}
@media all and (max-width:1180px){
#wrapper.chain .section.section1 .chainBox .txt1{padding-right:23%;}
#wrapper.chain .section.section1 .chainBox .txt2{padding-left:23%;}
#wrapper.chain .section.section1 .chainBox .txt3{padding-left:22.2%;}
}