@media all and (max-width:767px) {

/* =========================================== */
/*    00. 공통                                  */
/* =========================================== */

/*서브*/
#wrapper .page-title{height:200px;}
#wrapper .page-title .title-wrap{position: absolute; left: 0; width: 100%; top: 50%; margin-top: -45px;}
#wrapper .page-title h2{font-size:28px;padding-bottom: 10px;}
#wrapper .page-title h2:after{content:''; width:40px;height:1px; background:#fff;position:absolute; left:50%;margin-left:-20px;bottom:0;}
#wrapper .page-title .location{margin-top:10px;}
#wrapper .page-title .location li a{font-size:12px;}
#wrapper .page-title .location li i.fa{font-size:14px;}
#wrapper .page-title .location li:after{content:'\f105'; display: inline-block; font: normal normal normal 12px/1 FontAwesome; font-size: inherit; text-rendering: auto;-webkit-font-smoothing: antialiased;position:absolute;right:0;top:50%;margin-top:-6px;}
#wrapper .container .section{padding:30px 0 35px;position:relative;}
#wrapper .container .section.section1{padding:35px 20px 35px;}
/*
#wrapper .container .section.section1{padding:85px 20px 35px;}
#wrapper .container .section.section1:before{content:'';width:1px;height:25px;background:#b5b5b5; position:absolute;left:50%;top:30px;}*/
#wrapper .container .section h3{font-size:20px;padding-bottom:22px; line-height:24px;}


/* =========================================== */
/*    00. 푸터                                 */
/* =========================================== */
#footer{background:#2b2b2b; height:auto;padding:30px 0;}
#footer .ft{width: 100%;max-width: 1240px;margin: 0px auto;padding: 0px 20px; position:relative;}
#footer h1.logo{width:100%;margin-bottom:15px;text-align:center;}
#footer h1.logo img{width:100px;}
#footer .ft_menu{position:relative;right:auto; top:auto; width:100%;display:inline-block;text-align:Center;}
#footer .ft_menu > ul {display:inline-block;}
#footer .ft_menu > ul > li{width:auto;float:left;margin:0 7px;}
#footer .ft_menu > ul > li:first-child{margin:0 7px 0 0;}
#footer .ft_menu > ul > li:last-child{margin:0 0 0 7px;}
#footer .ft_menu > ul > li > a{font-size:12px; color:#d8d8d8;}
#footer .ft_menu > ul > li .sub{margin-top:4px;display:none;}
#footer address{font-size:11px;color:#999; line-height:16px;white-space:normal;text-align:center;}
#footer .ftBar{display:inline-block;padding:0 8px 0 6px;margin:0; position:relative;}
#footer .ftBar:before{content:'';position:absolute;right:0;width:1px;height:11px; background:#999; display:inline-block;top:50%;margin-top:-6px;}
#footer .ftBar.mobile:before{display:none;}
#footer .copy{font-size:11px;color:#999; line-height:18px;text-align:center;}


/* =========================================== */
/*    01. 메인                                 */
/* =========================================== */

#main .wrapper > .section .contents h4{font-size:22px;font-weight:500; position:relative;padding-bottom:10px;}
#main .wrapper > .section .contents h4:after{content:'';width:34px;height:2px;position:absolute;bottom:0;left:50%;margin-left:-17px;}

#main .wrapper > .section1{padding:42px 0 46px;}
#main .wrapper > .section1 .contents h4{margin-bottom:17px;}
#main .wrapper > .section1 .contents h4:after{background:#2e3192}
#main .wrapper > .section1 .contents p.txt{font-size:14px; font-weight:300;line-height:18px; color:#555; white-space:normal;margin-bottom:20px;}
#main .wrapper > .section1 .contents ul{width:100%; display:inline-block; }
#main .wrapper > .section1 .contents li{width:100%;float:none;}
#main .wrapper > .section1 .contents li .liwrap{margin-bottom:20px;}
#main .wrapper > .section1 .contents li:last-child .liwrap{margin-bottom:0px;}
#main .wrapper > .section1 .contents li .liwrap img{margin-bottom:0px;width:92px;}
#main .wrapper > .section1 .contents li .liwrap h5{font-size:16px; font-weight:500;color:#333;margin-bottom:5px;}
#main .wrapper > .section1 .contents li .liwrap p{font-size:12px; font-weight:300;line-height:18px; color:#555; white-space:pre-line;}

#main .wrapper > .section2{background:require('@/common/img/main/main_section1.png')no-repeat; height:auto; color:#fff;padding:43px 0 50px;background-size:cover;}
#main .wrapper > .section2 .contents .wedo-wrap{position:relative; height:auto;}
#main .wrapper > .section2 .contents h4{color:#fff; margin-bottom:30px;}
#main .wrapper > .section2 .contents h4:after{background:#fff}
#main .wrapper > .section2 .contents .centerImg{background:require('@/common/img/main/main_icon4.png')no-repeat;background-size:258px; width:258px;height:251px;position:relative;left:auto;top:auto;margin:0 auto 35px;}
#main .wrapper > .section2 .contents > .wedo-wrap > ul > li{color:#fff;position:relative;width:100%;margin-bottom:20px;}
#main .wrapper > .section2 .contents > .wedo-wrap > ul > li:last-child{margin-bottom:0px;}
#main .wrapper > .section2 .contents li.liwrap1{text-align:left;}
#main .wrapper > .section2 .contents li.liwrap2{right:auto;text-align:left;}
#main .wrapper > .section2 .contents li.liwrap3{bottom:auto;text-align:left;}
#main .wrapper > .section2 .contents li.liwrap4{right:auto;bottom:auto;text-align:left;}
#main .wrapper > .section2 .contents li h5{color:#fff;font-size:18px; font-weight:500;position:relative;padding-bottom:8px;margin-bottom:7px;}
#main .wrapper > .section2 .contents li h5:after{content:'';width:100%;height:1px;background:#fff;position:absolute;bottom:0;}
#main .wrapper > .section2 .contents li p{color:#fff;font-size:13px; font-weight:300;line-height:18px;}
#main .wrapper > .section2 .contents li li{color:#fff;font-size:13px; font-weight:300;line-height:18px;}

#main .wrapper > .section3{height:auto;padding:41px 0 50px;}
#main .wrapper > .section3 .contents h4{margin-bottom:30px;}
#main .wrapper > .section3 .contents .carouselWrap{padding:0 20px;}

/* =========================================== */
/*    02-1. COMPANY                            */
/* =========================================== */
#wrapper.company .container .section.section1 .txt1{font-size:20px;margin-bottom:30px;white-space:pre-line;}
#wrapper.company .container .section.section1 .txt2{}
#wrapper.company .container .section.section1 .txt2 p{font-size:13px;line-height:20px; white-space:normal;margin-bottom:20px;}
#wrapper.company .container .section.section1 .txt2 p br{display:none;}
#wrapper.company .container .section.section2{background:#f9f9ff;}
#wrapper.company .container .section.section2 table{width:100%;border-top:2px solid #5a5c41;}
#wrapper.company .container .section.section2 table th{background:#fff;border-bottom:1px solid #e5e5e5;font-size:13px; padding:11px 10px 11px 25px;}
#wrapper.company .container .section.section2 table td{background:#fff;border-bottom:1px solid #e5e5e5;font-size:12px; line-height:22px;padding:11px 10px;}
#wrapper.company .container .section.section2 table td ul li{font-size:12px;line-height:22px;}
#wrapper.company .container .section.section2 table td ul li:before{content:'';width:2px;height:2px;background:#555;position:absolute;top:9px;left:0;}

/* =========================================== */
/*    02-2. CEO 인사말                           */
/* =========================================== */

#wrapper.ceo .container .section.section1 .contents{}
#wrapper.ceo .container .section.section1 .img{width:100%;float:left;text-align:center;}
#wrapper.ceo .container .section.section1 .img img{width:211px;max-width:100%;padding:20px 0 20px;}
#wrapper.ceo .container .section.section1 .txt-wrap{width:100%;margin:0 0 0 auto;}
#wrapper.ceo .container .section.section1 .txt-wrap h3{}
#wrapper.ceo .container .section.section1 .txt-wrap h3 span{color:#2e3192;font-weight:500; font-size:20px;display:inline-block;}
#wrapper.ceo .container .section.section1 .txt-wrap .txt1{}
#wrapper.ceo .container .section.section1 .txt-wrap .txt1 p{font-size:12px;line-height:20px; color:#555; white-space:normal;margin-bottom:20px;}
#wrapper.ceo .container .section.section1 .txt-wrap .txt1 p:last-child{}

#wrapper.ceo .container .section.section1 .txt-wrap .txt {font-size:13px; line-height:20px; color:#555;white-space:normal;margin-bottom:20px;}
#wrapper.ceo .container .section.section1 .txt-wrap .txt span{margin-bottom:0;color:#2e3192; }
#wrapper.ceo .container .section.section1 .txt-wrap .txt2{margin-bottom:20px;}
#wrapper.ceo .container .section.section1 .txt-wrap .txt2 p{margin-bottom:3px;font-size:14px;font-weight:400;}
#wrapper.ceo .container .section.section1 .txt-wrap .txt2 div{font-size:13px; font-weight:300;line-height:20px; color:#555;}
#wrapper.ceo .container .section.section1 .txt-wrap .txt2 ul{margin-bottom:20px;}
#wrapper.ceo .container .section.section1 .txt-wrap .txt2 li{font-size:13px; font-weight:400;line-height:20px; color:#555;}
#wrapper.ceo .container .section.section1 .txt-wrap .txt2 li strong{color:#2e3192; font-weight:500;display:inline-block;margin-right:5px;}


#wrapper.ceo .container .section.section1 .txt-wrap .sign{font-size:14px;margin-top:30px;}
#wrapper.ceo .container .section.section1 .txt-wrap .sign span{font-size:14px;}

/* =========================================== */
/*    02-3. 연혁                                */
/* =========================================== */
#wrapper.history .container .section.section1{padding:35px 20px 35px;}
.history_wrap{height:100%;margin:20px auto 0;}
.history_wrap .year{top:0}
.history_wrap > ul > li.history_right .year:before{}
.history_wrap > ul{height:100%;}
.history_wrap .year span{font-size:18px;}
.history_wrap > ul > li{width:100%;}
.history_wrap > ul > li ul{padding-top:28px;}
.history_wrap > ul > li ul li{font-size:13px; line-height:18px;padding-bottom:7px;}
.history_wrap > ul > li ul li span.date{font-size:13px; line-height:18px;}
.history_wrap > ul:before{content:'';width:1px;height:calc(100% - 104px);background:#d0d0d0; position:Absolute; left:0;margin-left:-1.5px;top:0;}
.history_wrap > ul > li.history_left{left: 0;text-align: left;}
.history_wrap > ul > li.history_left ul{    padding-left: 28px;padding-right:0;}
.history_wrap > ul > li.history_left ul li{padding-right:0px;padding-left:40px;}
.history_wrap > ul > li.history_left ul li span.date{margin-left:0;margin-right:15px; right:auto;left:0;}
.history_wrap > ul > li.history_left .year{padding-right:0px;padding-left:35px;right:auto;left:-8px;}
.history_wrap > ul > li.history_left .year:before{content:'';position:absolute;background:#f6f7f9;border:2px solid #2e3192;border-radius:50%;box-sizing:border-box;width:14px;height:14px;left:0;top:0px;}
.history_wrap > ul > li.history_right .year:before{content:'';position:absolute;background:#f6f7f9;border:2px solid #2e3192;border-radius:50%;box-sizing:border-box;width:14px;height:14px;left:0;top:0px;}

.history_wrap > ul > li.history_right{left:0;}
.history_wrap > ul > li.history_right ul{padding-left: 28px}
.history_wrap > ul > li.history_right ul li{padding-left:40px;}
.history_wrap > ul > li.history_right .year{padding-left:35px;}
.history_wrap > ul > li.history_right ul li span.date{margin-right:15px;}

.history_wrap .year2016{top:auto;margin-top:0px}
.history_wrap .year2015{top:auto;margin-top:0px}
.history_wrap .year2014{top:auto;margin-top:0px}
.history_wrap .year2013{top:auto;margin-top:0px}
.history_wrap .year2012{top:auto;margin-top:0px}
.history_wrap .year2011{top:auto;margin-top:0px}
.history_wrap .year2010{top:auto;margin-top:0px} 


/* =========================================== */
/*    02-4. 조직도                               */
/* =========================================== */
.organization .orgImg_m img{width:100%;max-width:100%;}

/* =========================================== */
/*    02-5. 고객/협력사                           */
/* =========================================== */
#wrapper.partner .container .section.section1 .contents{}
#wrapper.partner .container .section.section1 .contents .content-wrap{padding-left: 2.5px; padding-right: 2.5px}
#wrapper.partner .container .section.section1 .contents ul{margin-left: -7.5px; margin-right: -7.5px; position: relative;}
#wrapper.partner .container .section.section1 .contents ul li{width:50%;padding-left: 5px; padding-right: 5px; box-sizing: border-box;padding-bottom:15px;}
#wrapper.partner .container .section.section1 .contents ul li img{border:1px solid #d6d6d6; line-height:0; max-width:100%;width:100%;}
#wrapper.partner .container .section.section1 .contents ul li div{font-size:13px;color:#555;}
#wrapper.partner .container .section.section1 .contents ul:last-child li{padding-bottom:15px;}
#wrapper.partner .container .section.section1 .contents ul:last-child li:nth-child(3){padding-bottom:0px;}
#wrapper.partner .container .section.section1 .contents ul:last-child li:nth-child(4){padding-bottom:0px;}


/* =========================================== */
/*    03-1. BUSINESS                           */
/* =========================================== */
#wrapper.business .container .section.section1 .contents ul li.txt .txtwrap div{font-size:12px;line-height:18px;}

#wrapper.business .container .section.section2{background:#f9f9ff}
#wrapper.business .container .section.section2 h3{color:#292c89; font-weight:500;}
#wrapper.business .container .section.section2 .sub-txt{text-align:center;margin-bottom:30px;}
#wrapper.business .container .section.section2 .sub-txt .txt1{font-size:15px; line-height:18px; color:#555;margin-bottom:3px;}
#wrapper.business .container .section.section2 .sub-txt .txt1 strong{}
#wrapper.business .container .section.section2 .sub-txt .txt2{font-size:12px; line-height:18px; color:#555;}

#wrapper.business .container .section.section2 table{}
#wrapper.business .container .section.section2 .contents{}
#wrapper.business .container .section.section2 table{width:100%;border:1px solid #e5e5e5;border-top:2px solid #292c89;}
#wrapper.business .container .section.section2 table td{width:100%\9;float:left\9;/*ie9에서 width값 적용안되는 부분*/ width:100%\10;float:left\10;/*ie10에서 width값 적용안되는 부분*/}
#wrapper.business .container .section.section2 table td{width:100%;display:block;}
#wrapper.business .container .section.section2 table td:nth-child(1){border-right:0;}
#wrapper.business .container .section.section2 table td h4{font-size:15px;font-weight:bold; color:#555;margin-bottom:13px;}
#wrapper.business .container .section.section2 table td .txt{font-size:12px;line-height:18px; color:#555;}
#wrapper.business .container .section.section2 .case{margin-top:20px;padding:0 19px;}
#wrapper.business .container .section.section2 .case h5{font-size: 13px; color: #292c89; text-align: left; display:inline-block;margin-right:20px;}
#wrapper.business .container .section.section2 .case div{font-size: 12px; color: #555; line-height: 22px; font-weight: 300; text-align: left; display:inline-block;}

/* =========================================== */
/*    03-1. BUSINESS HISTORY                   */
/* =========================================== */
#wrapper.businessHistory .container .section.section1 .contents{max-width:1240px;padding:0 0px;}
#wrapper.businessHistory .container .section.section1 table{width:100%;border-bottom:1px solid #e5e5e5;border-top:2px solid #292c89;}
#wrapper.businessHistory .container .section.section1 table td{width:50%;padding:24px 19px;vertical-align:top;}
#wrapper.businessHistory .container .section.section1 table td{width:100%\9;float:left\9;/*ie9에서 width값 적용안되는 부분*/ width:100%\10;float:left\10;/*ie10에서 width값 적용안되는 부분*/}
#wrapper.businessHistory .container .section.section1 table td{width:100%;display:block;}
#wrapper.businessHistory .container .section.section1 table tr:last-child td{border-bottom:0;}
#wrapper.businessHistory .container .section.section1 table td h5{font-size:12px;font-weight:bold; line-height:20px;}
#wrapper.businessHistory .container .section.section1 table td ul{}
#wrapper.businessHistory .container .section.section1 table td ul li{padding-left:10px;position:relative; font-size:12px; line-height:20px;}
#wrapper.businessHistory .container .section.section1 table td ul li:before{content:''; width:2px;height:2px;background:#333; top:10px;left:3px;position:absolute;}
#wrapper.businessHistory .container .section.section1 table td .img{width:30%;display:inline-block;vertical-align:top;}
#wrapper.businessHistory .container .section.section1 table td .img img{max-width:100%;width:95%;}
#wrapper.businessHistory .container .section.section1 table td .txtwrap{width:68%;display:inline-block;vertical-align:top;}
#wrapper.businessHistory .container .section.section1 table td .txtwrap .txt{margin-bottom:26px;}
#wrapper.businessHistory .container .section.section1 table td .txtwrap .txt:last-child{margin-bottom:0;}



/* =========================================== */
/*    04. RECRUIT                              */
/* =========================================== */

#wrapper.recruit .container .section.section1 .contents{text-align:center;}
#wrapper.recruit .container .section.section1 .contentWrap{max-width:1100px;width:100%;margin:0 auto;display:inline-block;}
#wrapper.recruit .container .section.section1 .row{ padding-left: 0px; padding-right: 0px; margin-left: auto; margin-right: auto;width:100%;display:inline-block;}
#wrapper.recruit .container .section.section1 ul{clear: both;margin-left: -20px; margin-right: -20px; position: relative;}
#wrapper.recruit .container .section.section1 ul li{width:50%;padding-left:10px;padding-right:10px;margin-bottom:30px;box-sizing:border-box;float:left;}
#wrapper.recruit .container .section.section1 ul li.recruit-1 .txt{background:require('@/common/img/recruit/m_recruit1.png')no-repeat top center;background-size:75%;}
#wrapper.recruit .container .section.section1 ul li.recruit-2 .txt{background:require('@/common/img/recruit/m_recruit1.png')no-repeat top center;background-size:75%;}
#wrapper.recruit .container .section.section1 ul li.recruit-3 .txt{background:require('@/common/img/recruit/m_recruit1.png')no-repeat top center;background-size:75%;}
#wrapper.recruit .container .section.section1 ul li.recruit-4 .txt{background:require('@/common/img/recruit/m_recruit1.png')no-repeat top center;background-size:75%;}
#wrapper.recruit .container .section.section1 ul li.recruit-5 .txt{background:require('@/common/img/recruit/m_recruit1.png')no-repeat top center;background-size:75%;}
#wrapper.recruit .container .section.section1 ul li.recruit-6 .txt{background:require('@/common/img/recruit/m_recruit1.png')no-repeat top center;background-size:75%;}
#wrapper.recruit .container .section.section1 ul li.recruit-7 .txt{background:require('@/common/img/recruit/m_recruit1.png')no-repeat top center;background-size:75%;}
#wrapper.recruit .container .section.section1 ul li.recruit-8 .txt{background:require('@/common/img/recruit/m_recruit1.png')no-repeat top center;background-size:75%;}
#wrapper.recruit .container .section.section1 ul li .txt{padding-top:20%;text-align:center;}
#wrapper.recruit .container .section.section1 ul li .txt h5{font-size:16px; font-weight:bold;margin-bottom:7px;}
#wrapper.recruit .container .section.section1 ul li .txt div{font-size:12px; line-height:16px;}
#wrapper.recruit .container .section.section2 .contents {padding:0 20px;}
#wrapper.recruit .container .section.section2 .contents .contentWrap ul li:nth-child(1){padding-top:11px;margin-right:15px;width:calc(25% - 15px);font-size:15px;}
#wrapper.recruit .container .section.section2 .contents .contentWrap ul li.txt{padding:13px 0 20px;width:75%;}
#wrapper.recruit .container .section.section2 .contents .contentWrap ul li.txt p{line-height:18px; font-size:12px;color:#555;margin-bottom:8px;}
#wrapper.recruit .container .section.section2 .contents .contentWrap ul li.txt p:last-child{margin-bottom:0px;}
#wrapper.recruit .container .section.section2 .contents .contentWrap ul li.txt strong{color:#333;}
#wrapper.recruit .container .section.section2 .contents .contentWrap .downLink a{width:242px;height:46px;line-height:40px;font-size:14px; background:require('@/common/img/recruit/m_downIcon.png')no-repeat 194px;background-size:12px;}

/* =========================================== */
/*    05. CONTACT US                           */
/* =========================================== */
#wrapper.contact .google-maps {position: relative;//* This is the aspect ratio*// height: 0; overflow: hidden;}
#wrapper.contact .google-maps iframe {position: absolute; top: 0; left: 0; width: 100% !important; height: 100% !important;}
#wrapper.contact .google-maps #map{height: 0;overflow: hidden;padding-bottom: 70%;position: relative;}

#wrapper.contact .section.section1{text-align:center;padding:20px  20px;}
#wrapper.contact .container .section.section1:before{display:none;}
#wrapper.contact .section.section1 ul{width:100%;display:inline-block;}
#wrapper.contact .section.section1 li{width:100%;float:left;text-align:left; padding-left:54px;min-height:48px;}
#wrapper.contact .section.section1 li:nth-child(1){background:require('@/common/img/contact/m_icon1.png')no-repeat 0 2px;background-size:45px;margin-bottom:20px;}
#wrapper.contact .section.section1 li:nth-child(2){background:require('@/common/img/contact/m_icon2.png')no-repeat 0 2px;background-size:45px;}
#wrapper.contact .section.section1 li strong{font-size:14px;}
#wrapper.contact .section.section1 li div{font-size:14px;}
#wrapper.contact .section.section1 li div span{font-size:14px;}

}

@media all and (max-width:340px){
#wrapper.recruit .container .section.section1 ul li.recruit-1 .txt{background:require('@/common/img/recruit/m_recruit1.png')no-repeat top center;background-size:90%;}
#wrapper.recruit .container .section.section1 ul li.recruit-2 .txt{background:require('@/common/img/recruit/m_recruit2.png')no-repeat top center;background-size:90%;}
#wrapper.recruit .container .section.section1 ul li.recruit-3 .txt{background:require('@/common/img/recruit/m_recruit3.png')no-repeat top center;background-size:90%;}
#wrapper.recruit .container .section.section1 ul li.recruit-4 .txt{background:require('@/common/img/recruit/m_recruit4.png')no-repeat top center;background-size:90%;}
#wrapper.recruit .container .section.section1 ul li .txt{padding-top:125%;text-align:center;}

}

/* =========================================== */
/*    06. SOLUTION                             */
/* =========================================== */

#wrapper.solution .container .section.section1 table{}
#wrapper.solution .container .section.section1 .contents{}
#wrapper.solution .container .section.section1 table{width:100%;border:1px solid #e5e5e5;border-top:2px solid #292c89;}
#wrapper.solution .container .section.section1 table td{width:100%\9;float:left\9;/*ie9에서 width값 적용안되는 부분*/ width:100%\10;float:left\10;/*ie10에서 width값 적용안되는 부분*/}
#wrapper.solution .container .section.section1 table td{width:100%;display:block;}
#wrapper.solution .container .section.section1 table td:nth-child(1){border-right:0;}
#wrapper.solution .container .section.section1 table td h4{font-size:15px;font-weight:bold; color:#555;margin-bottom:13px;}
#wrapper.solution .container .section.section1 table td .txt{font-size:12px;line-height:18px; color:#555;}
#wrapper.solution .container .section.section1 .case{margin-top:20px;padding:0 19px;}
#wrapper.solution .container .section.section1 .case h5{font-size: 13px; color: #292c89; text-align: left; display:inline-block;margin-right:20px;}
#wrapper.solution .container .section.section1 .case div{font-size: 12px; color: #555; line-height: 22px; font-weight: 300; text-align: left; display:inline-block;}


#wrapper.chain{}
#wrapper.chain .section.section1{}
#wrapper.chain .section.section1 .chainBox{position:relative;}
#wrapper.chain .section.section1 .chainBox .img{text-align:center;margin-bottom:22px;}
#wrapper.chain .section.section1 .chainBox .text{position:relative; }
#wrapper.chain .section.section1 .chainBox .text div.m{display:block;font-size:16px; font-weight:bold; color:#292c89;}
#wrapper.chain .section.section1 .chainBox .txt1{text-align:left;top:auto;width:100%;padding-right:0;margin-bottom:47px;}
#wrapper.chain .section.section1 .chainBox .txt2{text-align:left;top:auto;right:auto;width:100%;padding-left:0;margin-bottom:47px;}
#wrapper.chain .section.section1 .chainBox .txt3{text-align:left;top:auto;right:auto;width:100%;padding-left:0;}
#wrapper.chain .section.section1 .chainBox .text h5{line-height:24px;font-size:16px;margin-bottom:6px;}
#wrapper.chain .section.section1 .chainBox .text ul{}
#wrapper.chain .section.section1 .chainBox .text ul li{line-height:20px;color:#555;font-size:12px;}

#wrapper.chain .section.section2 table{}
#wrapper.chain .section.section2 .contents{}
#wrapper.chain .section.section2 table{width:100%;border:1px solid #e5e5e5;border-top:2px solid #292c89;border-bottom:0; border-left:0;border-right:0}
#wrapper.chain .section.section2 table td{width:100%\9;float:left\9;/*ie9에서 width값 적용안되는 부분*/ width:100%\10;float:left\10;/*ie10에서 width값 적용안되는 부분*/}
#wrapper.chain .section.section2 table td{width:100%;display:block;}
#wrapper.chain .section.section2 table td:nth-child(1){border-right:0;}
#wrapper.chain .section.section2 table td h4{font-size:15px;font-weight:bold; color:#555;}
#wrapper.chain .section.section2 table td .txt{font-size:12px;line-height:18px; color:#555;}
#wrapper.chain .section.section2 table tr:last-child td:last-child{display:none;}
#wrapper.chain .section.section2 .case{margin-top:20px;padding:0 19px;}
#wrapper.chain .section.section2 .case h5{font-size: 13px; color: #292c89; text-align: left; display:inline-block;margin-right:0px;}
#wrapper.chain .section.section2 .case ul {}
#wrapper.chain .section.section2 .case ul li{font-size: 12px; color: #555; line-height: 16px; font-weight: 300; text-align: left; display:inline-block;}

#wrapper.chain .section.section3 table td {padding:30px 20px;}

#wrapper.chain .section.section3 table td .bg{right:20px;top:30px;}
#wrapper.chain .section.section3 table td .bg1 img{width:60px;}
#wrapper.chain .section.section3 table td .bg2 img{width:24px;}
#wrapper.chain .section.section3 table td .bg3 img{width:66px;}
#wrapper.chain .section.section3 table h4{margin-bottom:50px;font-size:18px;}
#wrapper.chain .section.section3 table h4 span{font-size:16px;width:26px; height:26px;line-height:25px;}
#wrapper.chain .section.section3 table .txt1{font-size:16px; font-weight:500;margin-bottom:10px; color:#555;}
#wrapper.chain .section.section3 table .txt2{font-size:13px; line-height:18px; color:#555;}

#wrapper.chain .section.section3 table td{width:100%\9;float:left\9;/*ie9에서 width값 적용안되는 부분*/ width:100%\10;float:left\10;/*ie10에서 width값 적용안되는 부분*/}
#wrapper.chain .section.section3 table td{width:100%;display:block;}
}

@media all and (max-width:340px){
#wrapper.recruit .container .section.section1 ul li.recruit-1 .txt{background:require('@/common/img/recruit/m_recruit1.png')no-repeat top center;background-size:90%;}
#wrapper.recruit .container .section.section1 ul li.recruit-2 .txt{background:require('@/common/img/recruit/m_recruit2.png')no-repeat top center;background-size:90%;}
#wrapper.recruit .container .section.section1 ul li.recruit-3 .txt{background:require('@/common/img/recruit/m_recruit3.png')no-repeat top center;background-size:90%;}
#wrapper.recruit .container .section.section1 ul li.recruit-4 .txt{background:require('@/common/img/recruit/m_recruit4.png')no-repeat top center;background-size:90%;}
#wrapper.recruit .container .section.section1 ul li .txt{padding-top:125%;text-align:center;}

}