
/* reset */
html, body{min-height:100%; height:100%;font-family:'Noto Sans KR', sans-serif;}
body{
	background:#fff;
	word-break:keep-all;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-weight:400;
	-ms-word-break: keep-all;
word-break: keep-all;
/* Non standard for webkit */
-webkit-hyphens: auto;
-moz-hyphens: auto;
-ms-hyphens: auto;
hyphens: auto;
	}
body,div,
dl,dt,dd,ul,ol,li,
h1,h2,h3,h4,h5,h6,
pre,code,form,fieldset,legend,
textarea,p,blockquote,th,td,
input,select,textarea,button {margin:0;padding:0; box-sizing:border-box; letter-spacing:-0.1px; font-size:18px;font-family : 'Noto Sans KR', sans-serif;color:#333;word-break: keep-all;}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {font-size:100%;vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
table {border-collapse:collapse;border-spacing:0}
body {-webkit-text-size-adjust:none} /* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type="text"], input[type="number"],
input[type="password"], input[type="submit"], input[type="search"] {-webkit-appearance:none; border-radius:0}
input:checked[type="checkbox"] {background-color:#666; -webkit-appearance:checkbox}
button,input[type="button"], input[type="submit"],
input[type="reset"], input[type="file"] {-webkit-appearance:button; border-radius:0}
input[type="search"]::-webkit-search-cancel-button {-webkit-appearance:none}
a{color:#333;text-decoration:none}
a:active, a:hover  {text-decoration:none}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
button{outline:none;}

/*== 인풋 ==*/
input[type="text"], input[type="password"],
input[type="button"], input[type="number"], textarea{
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border-radius:0px;
	border:0;
	box-sizing:border-box;
	}
input[type="text"], input[type="number"]{height:30px; line-height:28px;}
input[type="text"]::-ms-clear {display:none;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color: #666;  font-weight:400;}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #666; font-weight:400;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #666; font-weight:400;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #666; font-weight:400;
}
:-moz-placeholder { /* Firefox 18- */
  color: #666; font-weight:400;
}
input, textarea{font-size:14px;
-webkit-border-radius: 0;
  /* 네이티브 외형 감추기 */
-webkit-appearance:  none;
-moz-appearance: none;
appearance: none;}
select{
-webkit-border-radius: 0;
  /* 네이티브 외형 감추기 */
-webkit-appearance:  none;
-moz-appearance: none;
appearance: none;
background:#fff url('http://html.gethompy.com/404.html?id=digitaltree') no-repeat 100% 50%;  /* 화살표 모양의 이미지 */
background-size:23px 8px;
border:1px solid #ccc;
height: 37px;
padding-left: 10px; color:#777; vertical-align:middle; font-size:13px;}