/********** SLIDER **********/
.slider {
  margin: 0px auto;
  width:100%;
  position: relative;
  }

.slide-viewer {
    position: relative; /* needed for IE7 */
    overflow: hidden;
    height: 676px;}

.slide-group {
    width: 100%;
    height: 100%;
    position: relative;}

.slide {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;}
.slide-1{background:url('@/common/img/main/bg1.png')no-repeat top center; height:676px; background-size:cover;}
.slide-2{background:url('@/common/img/main/bg1.png')no-repeat top center; height:676px; background-size:cover;}
.slide:first-child {
    display: block;}


/********** BUTTONS **********/
.slide-buttons {
  text-align: center;
  width:100%;
  position:absolute;
  bottom:15px;}

.slide-btn {
  background:transparent;
  font-size: 200%;
   text-indent:-9999;display:inline-block;
  line-height: 0.5em;
  width:11px; height:11px;margin:0 7px;
  box-sizing:border-box; border:2px solid #0b1e3e; border-radius:50px;
  }

.slide-btn.active, .slide-btn:hover {
 background:#0b1e3e;
  text-indent:-9999;
  cursor: pointer;}


.wrapper .slider .slideTxt{max-width:1240px; padding:0 20px;margin:0 auto;box-sizing: border-box;}
.wrapper .slider .txtWrap{    position: absolute; z-index: 98; /* margin-top: 20%; */ top: 50%; margin-top: -113.5px; left: 0; width: 100%;text-align:center;}
.wrapper .slider .txtWrap .txt1{font-weight:500;font-size:52px; line-height:58px; width:100%;color:#fff;}
.wrapper .slider .txtWrap .txt2{font-weight:bold;font-size:66px; line-height:74px; width:100%;color:#fff;}
.wrapper .slider .txtWrap .txt3{font-weight:400;font-size:24px; line-height:34px; width:100%;color:#fff;margin-top:27px;}

@media screen and (max-width: 1024px) {

.slide-viewer {
    position: relative; /* needed for IE7 */
    overflow: hidden;
    height: 480px;}
.slide.slide-1{height:480px;}
.wrapper .slider .txtWrap{ top: 50%; margin-top: -83.5px; left: 0; padding: 0 10px;}
.wrapper .slider .txtWrap .txt1{font-weight:500;font-size:36px; line-height:38px; width:100%;color:#fff;}
.wrapper .slider .txtWrap .txt2{font-weight:bold;font-size:50px; line-height:54px; width:100%;color:#fff;}
.wrapper .slider .txtWrap .txt3{font-weight:400;font-size:18px; line-height:24px; width:100%;color:#fff;margin-top:27px;}
}
@media screen and (max-width: 767px) {
.slide-viewer {
    position: relative; /* needed for IE7 */
    overflow: hidden;
    height: 340px;}
.slide.slide-1{height:340px;}
.wrapper .slider .txtWrap{ top: 50%; margin-top: -83.5px; left: 0; padding: 0 20px;}
.wrapper .slider .txtWrap .txt1{font-weight:500;font-size:19px; line-height:19px; width:100%;color:#fff;}
.wrapper .slider .txtWrap .txt2{font-weight:bold;font-size:30px; line-height:34px; width:100%;color:#fff;}
.wrapper .slider .txtWrap .txt3{font-weight:400;font-size:16px; line-height:20px; width:100%;color:#fff;margin-top:27px;}
}
