@media all and (max-width:1024px) {
/* =========================================== */
/*    00. 공통                                  */
/* =========================================== */
/*메인*/
.wrapper{margin-top:50px;}
/*서브*/
#wrapper{margin-top:50px;}
#wrapper .page-title h2{font-size:34px;}
#wrapper .container .section h3{font-size:28px;padding-bottom:22px; line-height:38px;}

/* =========================================== */
/*    00. 헤더                                 */
/* =========================================== */
.header.mobile{display:block;}
.hd.pc{display:none;}
.header{z-index:999; height:100%;}
.header .wsmain{position:fixed;padding:0;}
.wsmobileheader{height:50px;text-align:center;background:#fff; border-bottom: 1px solid #ddd;position:fixed;z-index:9;}
.wsmobileheader .logo{float:none; position:fixed;left:0%;width:100%;transition: all 0.4s ease-in-out;}
.wsoffcanvasopener .logo {left: 280px;}
.wsmobileheader .logo img{width:120px;margin:9px auto;}
.header .wsmain .logo{display:none;}
.header .wsmain .nav_top{background:#35370e; color:#fff; text-align:center;padding:24px 20px; font-size:13px;}
.header .wsmain .language{position:relative;right:auto;top:auto;margin-top:0px;text-align:center;padding:11px 15px 12px;width:100%;display:inline-block;border-bottom:1px solid #d5d5d5;}
.header .wsmain .language span{float:left;font-size:13px; line-height:24px;}
.header .wsmain .language span i.fa{font-size: 17px; margin-right: 8px; vertical-align: middle;line-height: 22px;color: #555;}
.header .wsmain .language div{float:right; line-height:21px; width:150px;text-align:right;}
.header .wsmain .language div a{font-size:13px; color:#999;position:relative;}
.header .wsmain .language div a.on{color:#555;}
.header .wsmain .language div a:last-child{padding-left:14px;margin-left:10px;}
.header .wsmain .language div a:last-child:before{content:''; position:absolute; width:1px; height:11px; background:#999; left:0;top:50%;margin-top:-5.5px;}
.header .wsmain .wsmenu{margin-top:-5px;}
.header .wsmain .wsmenu-list > li > a {line-height: 24px;font-size:14px;font-weight:400;text-align:left; width:100%; display:inline-block; box-sizing: border-box;}
.header .wsmain .wsmenu-list > li:hover{background:#fff; color:#292c89;}
.header .wsmain .wsmenu-list > li:hover > a{color:#292c89;}
.header .wsmain .wsmenu-list li .wsmenu-submenu{padding:7px 0 10px;}
.header .wsmain .wsmenu-list li .wsmenu-submenu li:hover{background:transparent}
.header .wsmain .wsmenu-list li .wsmenu-submenu li:hover a{color:#292c89;text-decoration:none;}

/* =========================================== */
/*    00. 푸터                                  */
/* =========================================== */
#footer{background:#2b2b2b; height:229px;padding:30px 0;}
#footer .ft{width: 100%;max-width: 1240px;margin: 0px auto;padding: 0px 20px; position:relative;}
#footer h1.logo{width:100%;margin-bottom:25px;text-align:center;}
#footer h1.logo img.pc{display:none;}
#footer h1.logo img.mobile{display:inline-block; width:157px;}
#footer .ft_menu{position:relative;right:auto; top:auto; width:100%;display:inline-block;text-align:Center;}
#footer .ft_menu > ul {display:inline-block;}
#footer .ft_menu > ul > li{width:auto;float:left;margin:0 20px;}
#footer .ft_menu > ul > li > a{font-size:12px; color:#d8d8d8;}
#footer .ft_menu > ul > li .sub{margin-top:4px;display:none;}
#footer address{font-size:12px;color:#999; line-height:18px;white-space:pre-line;text-align:center;}
#footer .ftBar{display:inline-block;padding:0 8px 0 6px;margin:0; position:relative;}
#footer .ftBar:before{content:'';position:absolute;right:0;width:1px;height:12px; background:#999; display:inline-block;top:50%;margin-top:-6px;}
#footer .ftBar.mobile:before{display:none;}
#footer .copy{font-size:12px;color:#999; line-height:18px;text-align:center;}
#footer .naverBand{display:block;text-align:center;margin:30px 0 0;}
#footer .naverBand a{line-height:0;}
#footer .naverBand img{width:70px;}
/* =========================================== */
/*    01. 메인                                 */
/* =========================================== */
#main .wrapper > .section .contents h4{font-size:26px;}
#main .wrapper > .section1 .contents p.txt{font-size:16px; line-height:22px;}
#main .wrapper > .section1 .contents li .liwrap{padding:0 15px;}
#main .wrapper > .section1 .contents li .liwrap h5{font-size:18px;}
#main .wrapper > .section1 .contents li .liwrap p{font-size:13px; line-height:19px; white-space:normal;}
#main .wrapper > .section1 .contents li .liwrap img{width:60%;}

#main .wrapper > .section2{background:url('@/common/img/main/main_section1.png')no-repeat; height:658px; color:#fff;padding:67px 0 125px;}
#main .wrapper > .section2 .contents .wedo-wrap{position:relative; height:350px;}
#main .wrapper > .section2 .contents h4{color:#fff; margin-bottom:55px;}
#main .wrapper > .section2 .contents h4:after{background:#fff}
#main .wrapper > .section2 .contents .centerImg{background:url('@/common/img/main/main_icon4.png')no-repeat;background-size:258px; width:258px;height:251px;position:absolute;left:50%;margin-left:-129px; top: 50%;  margin-top: -125.5px;}
#main .wrapper > .section2 .contents > .wedo-wrap > ul > li{color:#fff;position:absolute;width:200px;}
#main .wrapper > .section2 .contents li.liwrap1{text-align:right;}
#main .wrapper > .section2 .contents li.liwrap2{right:0;text-align:left;}
#main .wrapper > .section2 .contents li.liwrap3{bottom:0;text-align:right;}
#main .wrapper > .section2 .contents li.liwrap4{right:0;bottom:0;text-align:left;}
#main .wrapper > .section2 .contents li h5{color:#fff;font-size:20px; font-weight:500;position:relative;padding-bottom:13px;margin-bottom:12px;}
#main .wrapper > .section2 .contents li h5:after{content:'';width:188px;height:1px;background:#fff;position:absolute;bottom:0;}
#main .wrapper > .section2 .contents li p{color:#fff;font-size:14px; font-weight:300;line-height:22px;}
#main .wrapper > .section2 .contents li li{color:#fff;font-size:14px; font-weight:300;line-height:22px;}

#main .wrapper > .section3{height:auto;padding:64px 0 70px;}

/* =========================================== */
/*    02-1. COMPANY                            */
/* =========================================== */
#wrapper.company .container .section.section1 .txt1{font-size:28px;color:#2e3192;margin-bottom:30px;font-weight:500;}
#wrapper.company .container .section.section1 .txt2{}
#wrapper.company .container .section.section1 .txt2 p{font-size:15px;line-height:26px; white-space:normal;margin-bottom:26px;}
#wrapper.company .container .section.section1 .txt2 p:last-child{margin-bottom:0;}
#wrapper.company .container .section.section2{background:#f9f9ff;}
#wrapper.company .container .section.section2 table{width:100%;border-top:2px solid #292c89;}
#wrapper.company .container .section.section2 table th{background:#fff;border-bottom:1px solid #e5e5e5;font-size:15px; color:#292c89;text-align:left;padding:11px 10px 11px 50px;}
#wrapper.company .container .section.section2 table td{background:#fff;border-bottom:1px solid #e5e5e5;font-size:14px; color:#555; line-height:22px;text-align:left;padding:11px 10px;}
#wrapper.company .container .section.section2 table td ul li{position:relative;padding-left:8px;font-size:14px;color:#555; line-height:22px;text-align:left;}
#wrapper.company .container .section.section2 table td ul li:before{content:'';width:2px;height:2px;background:#555;position:absolute;top:11px;left:0;}
#wrapper.company .container .section.section2 .contents{width:100%; max-width:1140px; margin:0 auto;padding:0 20px;}


/* =========================================== */
/*    02-3. 연혁                                */
/* =========================================== */
.history_wrap{height:1028px;}
.history_wrap > ul{height:960px;}
.history_wrap > ul:before{content:'';width:1px;height:100%;background:#d0d0d0; position:Absolute; left:50%;margin-left:-2px;top:0;}
.history_wrap .year span{font-size:18px;}
.history_wrap > ul > li ul{padding-top:28px;}
.history_wrap > ul > li ul li{font-size:13px;}
.history_wrap > ul > li ul li span.date{font-size:13px;}
.history_wrap > ul > li.history_left ul li{padding-right:48px;}
.history_wrap > ul > li.history_right ul li{padding-left:48px;}
.history_wrap > ul > li.history_left .year{padding-right:39px;}
.history_wrap .year2017{top:0px;margin-bottom:26px;}
.history_wrap .year2016{top:0px;top:0px;margin-bottom:26px;}
.history_wrap .year2015{top:26px;top:0px;margin-bottom:26px;}
.history_wrap .year2014{top:56px;top:0px;margin-bottom:26px;}
.history_wrap .year2013{top:83px;top:0px;margin-bottom:26px;}
.history_wrap .year2012{top:126px;top:0px;margin-bottom:26px;}
.history_wrap .year2011{top:153px;top:0px;margin-bottom:26px;}
.history_wrap .year2010{top:195px;top:0px;margin-bottom:26px;} 


/* =========================================== */
/*    02-4. 조직도                               */
/* =========================================== */
.organization#wrapper .container .section.section1{/*background:url('@/common/img/company/orgBg.png')no-repeat center center; background-size:contain;*/}
.organization .orgImg img{width:100%;max-width:100%;}
.organization .orgImg{text-align:center;margin:31px 0;display:none;}
.organization .orgImg_m{display:block;text-align:center;}
.organization .orgImg_m img{width:80%;max-width:100%;}

/* =========================================== */
/*    03-1. BUSINESS                           */
/* =========================================== */
#wrapper.business .container .section.section1 .contents ul li.txt .txtwrap h3{color:#292c89;font-weight:500;}
#wrapper.business .container .section.section1 .contents ul li.txt .txtwrap div{font-size:14px;line-height:22px; color:#555;white-space:normal;padding:0 20px;}




/* =========================================== */
/*    04. RECRUIT                              */
/* =========================================== */

#wrapper.recruit .container .section.section1 .row{ padding-left: 0px; padding-right: 0px; margin-left: auto; margin-right: auto;width:100%;display:inline-block;}
#wrapper.recruit .container .section.section1 ul{clear: both;margin-left: -20px; margin-right: -20px; position: relative;}
#wrapper.recruit .container .section.section1 ul li{width:33%;padding-left:10px;padding-right:10px;;box-sizing:border-box;float:left;}
#wrapper.recruit .container .section.section1 ul li.recruit-1 .txt{background:url('@/common/img/recruit/m_recruit1.png')no-repeat top center;background-size:145px;}
#wrapper.recruit .container .section.section1 ul li.recruit-2 .txt{background:url('@/common/img/recruit/m_recruit2.png')no-repeat top center;background-size:145px;}
#wrapper.recruit .container .section.section1 ul li.recruit-3 .txt{background:url('@/common/img/recruit/m_recruit3.png')no-repeat top center;background-size:145px;}
#wrapper.recruit .container .section.section1 ul li.recruit-4 .txt{background:url('@/common/img/recruit/m_recruit4.png')no-repeat top center;background-size:145px;}
#wrapper.recruit .container .section.section1 ul li .txt{padding-top:200px;text-align:center;}
#wrapper.recruit .container .section.section1 ul li .txt h5{font-size:18px; font-weight:bold;margin-bottom:7px;}
#wrapper.recruit .container .section.section1 ul li .txt div{font-size:13px; line-height:18px;}
#wrapper.recruit .container .section.section2 .contents {padding:0 20px;}
#wrapper.recruit .container .section.section2 .contents .contentWrap ul li:nth-child(1){font-size:18px;}
#wrapper.recruit .container .section.section2 .contents .contentWrap ul li.txt p{line-height:26px; font-size:14px;color:#555;}
#wrapper.recruit .container .section.section2 .contents .contentWrap ul li.txt strong{color:#333;font-weight:500;}
#wrapper.recruit .container .section.section2 .contents .contentWrap .downLink a{width:242px;height:46px;line-height:40px;font-size:16px; background:url('@/common/img/recruit/m_downIcon.png')no-repeat 194px;background-size:12px;}





/* =========================================== */
/*    05. CONTACT US                           */
/* =========================================== */
#wrapper.contact .google-maps {position: relative; height: 0; overflow: hidden;}
#wrapper.contact .google-maps iframe {position: absolute; top: 0; left: 0; width: 100% !important; height: 100% !important;}
#wrapper.contact .google-maps #map{height: 0;overflow: hidden;padding-bottom: 50%;position: relative;}

#wrapper.contact .section.section1{text-align:center;padding:75px  20px;}
#wrapper.contact .container .section.section1:before{display:none;}
#wrapper.contact .section.section1 ul{width:100%;display:inline-block;}
#wrapper.contact .section.section1 li{width:50%;float:left;text-align:left; padding-left:74px; min-height:54px;}
#wrapper.contact .section.section1 li:nth-child(1){background:url('@/common/img/contact/icon1.png')no-repeat 0 2px;}
#wrapper.contact .section.section1 li:nth-child(2){background:url('@/common/img/contact/icon2.png')no-repeat 0 2px;}
#wrapper.contact .section.section1 li strong{font-size:16px;}
#wrapper.contact .section.section1 li div{font-size:16px; }
#wrapper.contact .section.section1 li div span{font-size:16px; font-weight:400; }

}

@media all and (max-width:991px) {
/* =========================================== */
/*    03. CEO 인사말                             */
/* =========================================== */

#wrapper.ceo .container .section.section1 .contents{}
#wrapper.ceo .container .section.section1 .img{width:100%;float:left;text-align:center;}
#wrapper.ceo .container .section.section1 .img img{width:316px;max-width:100%;padding:41px 0 41px;}
#wrapper.ceo .container .section.section1 .txt-wrap{width:100%;margin:0 0 0 auto;}
#wrapper.ceo .container .section.section1 .txt-wrap h3{}
#wrapper.ceo .container .section.section1 .txt-wrap .txt1{}
#wrapper.ceo .container .section.section1 .txt-wrap .txt1 p{font-size:15px;line-height:26px; color:#555; white-space:normal;margin-bottom:26px;}
#wrapper.ceo .container .section.section1 .txt-wrap .txt1 p:last-child{}
#wrapper.ceo .container .section.section1 .txt-wrap .txt {font-size:16px; line-height:26px; color:#555;white-space:normal;margin-bottom:26px;}
#wrapper.ceo .container .section.section1 .txt-wrap .txt span{margin-bottom:0;color:#2e3192; }
#wrapper.ceo .container .section.section1 .txt-wrap .txt2{margin-bottom:26px;}
#wrapper.ceo .container .section.section1 .txt-wrap .txt2 p{margin-bottom:5px;}
#wrapper.ceo .container .section.section1 .txt-wrap .txt2 div{font-size:15px; font-weight:300;line-height:26px; color:#555;}
#wrapper.ceo .container .section.section1 .txt-wrap .txt2 ul{margin-bottom:20px;}
#wrapper.ceo .container .section.section1 .txt-wrap .txt2 li{font-size:15px; font-weight:400;line-height:26px; color:#555;}
#wrapper.ceo .container .section.section1 .txt-wrap .txt2 li strong{color:#2e3192; font-weight:500;display:inline-block;margin-right:5px;}

#wrapper.ceo .container .section.section1 .txt-wrap .sign{font-size:16px; margin-top:35px;}
#wrapper.ceo .container .section.section1 .txt-wrap .sign span{font-size:16px;}




/* =========================================== */
/*    03-1. BUSINESS                           */
/* =========================================== */
.img .thumbnail-wrapper, 
.txt .thumbnail-wrapper { width: 100%; } 

.img .thumbnail, 
.txt .thumbnail { 
position: relative; padding-top: 0%; /* 1:1 ratio */ overflow: hidden; 
} 

.img .thumbnail .centered, 
.txt .thumbnail .centered  { 
position: relative; 
top: auto; 
left: auto; 
right: auto; 
bottom: auto; 
-webkit-transform: translate(0%,0%); 
-ms-transform: translate(0%,0%); 
transform: translate(0%,0%); 
} 

.img .thumbnail .centered img, 
.txt .thumbnail .centered .txtwrap { 
position: relative; 
top: auto; 
left: auto; 
right: auto; 
bottom: auto; 
-webkit-transform: translate(0%,0%); 
-ms-transform: translate(0%,0%); 
transform: translate(0%,0%); 
}
.img img.landscape { width: auto; height: 100%; }
.img img.portrait { width: 100%; height: auto; }
#wrapper.business .container .section.section1 .contents ul li{width:100%;}
#wrapper.business .container .section.section1 .contents ul li.txt .txtwrap{position:static;padding:25px 0 30px;}
#wrapper.business .container .section.section1 .contents ul:nth-child(1) li.img{padding-right:0px;margin:0;}
#wrapper.business .container .section.section1 .contents ul:nth-child(1) li.txt .txtwrap{}
#wrapper.business .container .section.section1 .contents ul:nth-child(2) {}
#wrapper.business .container .section.section1 .contents ul:nth-child(2) li.img{padding-left:0px;margin:0;}
#wrapper.business .container .section.section1 .contents ul:nth-child(2) li.txt{margin:0;}

#wrapper.business .container .section.section2{background:#f9f9ff}
#wrapper.business .container .section.section2 h3{color:#292c89; font-weight:500;}
#wrapper.business .container .section.section2 .sub-txt{text-align:center;margin-bottom:35px;}
#wrapper.business .container .section.section2 .sub-txt .txt1{font-size:16px; line-height:18px; color:#555;margin-bottom:3px;}
#wrapper.business .container .section.section2 .sub-txt .txt1 strong{}
#wrapper.business .container .section.section2 .sub-txt .txt2{font-size:13px; line-height:22px; color:#555;}

#wrapper.business .container .section.section2 table{}
#wrapper.business .container .section.section2 .contents{}
#wrapper.business .container .section.section2 table{width:100%;border:1px solid #e5e5e5;border-top:2px solid #292c89;}
#wrapper.business .container .section.section2 table td{background:#fff;border-bottom:1px solid #e5e5e5;font-weight:400;text-align:left;padding:24px 19px;}
#wrapper.business .container .section.section2 table td:nth-child(1){border-right:1px solid #e5e5e5;}
#wrapper.business .container .section.section2 table td h4{font-size:16px;font-weight:bold; color:#555;margin-bottom:23px;}
#wrapper.business .container .section.section2 table td .txt{font-size:13px;line-height:22px; color:#555;}


/* =========================================== */
/*    03-1. BUSINESS HISTORY                   */
/* =========================================== */
#wrapper.businessHistory .container .section.section1 .contents{max-width:1240px;padding:0 0px;}
#wrapper.businessHistory .container .section.section1 table{width:100%;border-bottom:1px solid #e5e5e5;border-top:2px solid #292c89;}
#wrapper.businessHistory .container .section.section1 table td h5{font-size:13px;font-weight:bold; line-height:22px;}
#wrapper.businessHistory .container .section.section1 table td ul{}
#wrapper.businessHistory .container .section.section1 table td ul li{padding-left:10px;position:relative; font-size:13px; line-height:22px;}
#wrapper.businessHistory .container .section.section1 table td ul li:before{content:''; width:2px;height:2px;background:#333; top:12px;left:3px;position:absolute;}
#wrapper.businessHistory .container .section.section1 table td .img{width:25%;display:inline-block;vertical-align:top;}
#wrapper.businessHistory .container .section.section1 table td .img img{max-width:100%;width:90%;}
#wrapper.businessHistory .container .section.section1 table td .txtwrap{width:74%;display:inline-block;vertical-align:top;}
#wrapper.businessHistory .container .section.section1 table td .txtwrap .txt{margin-bottom:26px;}
#wrapper.businessHistory .container .section.section1 table td .txtwrap .txt:last-child{margin-bottom:0;}



}