/*
 * Plugin: Web Slide - App Style Responsive Megamenu
 * Demo Link: http://webslidemenu.webthemex.com/
 * Version: v3.3
 * Author: webthemex
 * License: http://codecanyon.net/licenses/standard
*/

/*--------------------------------------------------------------------------
[Table of contents]

01 Base CSS
02 Desktop CSS
03 Tab CSS
04 Mobile CSS
05 Additional Themes (Optionnal)
--------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------
| 01 Base CSS
--------------------------------------------------------------------------*/
.wsmain html, .wsmain body, .wsmain iframe, .wsmain h1, .wsmain h2, .wsmain h3, .wsmain h4, .wsmain h5, .wsmain h6 {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font: inherit;
	vertical-align: baseline;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
	font-family: Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: subpixel-antialiased;
	font-smoothing: antialiased;
	font-smooth: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: subpixel-antialiased !important;
	font-smoothing: subpixel-antialiased !important;
	font-smooth: subpixel-antialiased;
}
.wsmain .cl {
	clear: both;
}
.wsmenu .clearfix:before, .wsmenu .clearfix:after {
	content: "";
	display: table;
}
.wsmenu .clearfix:after {
	clear: both;
}
.wsmenu .clearfix {
	zoom: 1;
}
.wsmain textarea {
	font-family: Helvetica, Arial, sans-serif;
}
.wsmain img, object, embed, video {
	border: 0 none;
	max-width: 100%;
}
.wsmain a:focus {
	outline: none !important;
}
.wsmain:before, .wsmain:after {
	content: "";
	display: table;
}
.wsmain:after {
	clear: both;
}
/*--------------------------------------------------------------------------
|  02  Desktop CSS
--------------------------------------------------------------------------*/
.hd{height:90px;text-align:center;width:100%;background:#fff;position:fixed;top:0;z-index:99;}
.hd .hd-main{position:relative;display:inline-block;border-bottom:1px solid #ddd;}
.hd .hd-main .logo{max-width:322px; width:20%;padding:17px 0; text-align:left;}
.hd .hd-main .language{position:absolute;right:20px;top:50%;margin-top:-12px;}
.hd .hd-main .language a{font-size:13px; color:#999;position:relative;}
.hd .hd-main .language a.on{color:#555;}
.hd .hd-main .language a:last-child{padding-left:24px;margin-left:20px;}
.hd .hd-main .language a:last-child:before{content:''; position:absolute; width:1px; height:11px; background:#999; left:0;top:50%;margin-top:-5.5px;}
.hd .hd-main .hd-menu-list > li > a {display: block;color: #333;padding: 0px 30px;line-height: 89px;text-decoration: none;position: relative;font-size:18px;font-weight:500;text-align:center;}
.hd .hd-main .hd-menu-list li:hover{background:#f18d00; color:#fff;}
.hd .hd-main .hd-menu-list li:hover a{color:#fff;}
.hd .hd-main .hd-menu-list li.on{background:#f18d00; color:#fff;}
.hd .hd-main .hd-menu-list li.on a{color:#fff;}
.hd .hd-main .hd-menu-list li .hd-menu-submenu{padding:7px 0 10px;}
.hd .hd-main .hd-menu-list li .hd-menu-submenu li:hover{background:transparent}
.hd .hd-main .hd-menu-list li .hd-menu-submenu li:hover a{color:#87cefc;}
.hd-main .logo {padding: 0px 0px;margin: 0;float: left;}
.hd-main .logo a {display: block;float: left;}
.hd-main {width: 100%;max-width: 1240px;background: #fff;margin: 0px auto;padding: 0px 60px;position: relative;}
.hd-menu {color: #fff;font-size: 12px;padding: 0px 50px 0px 80px;margin: 0px auto; width: auto;float: left;}
.hd-menu-list {text-align: left;margin: 0 auto 0 auto;width: 100%;display: block;padding: 0px;}
.hd-menu-list > li {text-align: center;display: block;float: left;margin: 0px;padding: 0px;position:relative;}

.hd-menu-list li > .hd-menu-submenu {
	transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform: rotateX(-75deg);
	-o-transform: rotateX(-75deg);
	-moz-transform: rotateX(-75deg);
	-webkit-transform: rotateX(-75deg);
	visibility: hidden;
}
.hd-menu-list li:hover > .hd-menu-submenu {
	transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	opacity: 1;
	visibility: visible;
}

.hd-menu-submenu {
	position: absolute;
	top: 90px;
	z-index: 1000;
	margin: 0px;
	padding: 0px;
	background-color: rgba(109,109,109,0.9);
	opacity: 0;
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transition: -o-transform 0.3s, opacity 0.3s;
	-ms-transition: -ms-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	width:100%;
}
.hd-menu-submenu li a {
	color: #fff;
	border-right: 0 none !important;
	text-align: center;
	display: block;
	line-height: 22px;
	padding: 7px 12px;
	text-transform: none;
	font-size: 13px;
	letter-spacing: 400;
	border-right: 0px solid;
}
.hd-menu-submenu li {
	position: relative;
	margin: 0px;
	padding: 0px;
}

.hd-menu-list li:hover .hd-menu-submenu {
	display: block;
}
.hd-menu-list .hd-menu-submenu .hd-menu-submenu-sub {
	min-width: 220px;
	position: absolute;
	left: 100%;
	top: 0;
	margin: 0px;
	padding: 0px;
	opacity: 0;
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transition: -o-transform 0.4s, opacity 0.4s;
	-ms-transition: -ms-transform 0.4s, opacity 0.4s;
	-moz-transition: -moz-transform 0.4s, opacity 0.4s;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
}

.hd-menu-list .hd-menu-submenu li:hover .hd-menu-submenu-sub {
	display: block;
}
.wsmobileheader{display:none;}
.header.mobile{display:none;}


/*--------------------------------------------------------------------------
|  04 Mobile CSS
--------------------------------------------------------------------------*/ 

@media only screen and (max-width: 1024px) {
.wsoffcanvasopener .wsmenu {
	overflow-y: auto;
	left: 0px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.wsoffcanvasopener .animated-arrow {
	left: 260px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.wsmain {
	margin: 0px;
	background-color: transparent;
}
.topmenusearch {
	margin: 0px 0 0;
	width: 100%;
	height: 44px;
}
.topmenusearch input:focus {
	width: 100%;
	background-color: #f5f5f5;
	color: #000;
}
.topmenusearch input:hover {
	width: 100%;
	background-color: #f5f5f5;
	color: #000;
}
.topmenusearch input {
	border-radius: 0px !important;
	height: 44px;
	background-color: #f1f1f1;
}
.smllogo {
	width: 100%;
	display: none !important;
	margin: 0 auto;
	text-align: center;
	background-color: #2B3A40;
}
.smllogo a {
	margin: 0 auto;
	text-align: center;
	float: none;
	padding: 10px 0px 3px 0px;
}
.topmenusearch .btnstyle {
	height: 44px;
	color: #424242;
}
.wsmenucontainer{
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;

}
.wswrapper, #footer {
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	width:100%;display:block;
}
.overlapblackbg {
	left: 0;
	z-index: 102;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	display: none;
	background-color: rgba(0, 0, 0, 0.45);
	cursor: pointer;
}
.wsoffcanvasopener .wswrapper, .wsoffcanvasopener #footer{
	display: block;
	margin-left: 280px;
}

.wsmobileheader {
	display: block !important;
	position: relative;
	top: 0;
	right: 0;
	left: 0;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.wsmenu-list > li:hover > a {
	text-decoration: none;
}
.mobiletext {
	display: inline-block !important;
}
.wsoffcanvasopener .overlapblackbg {
	display: block !important;
}
.wsoffcanvasopener .wsmain {
	left: 0px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.wsmain {
	width: 280px;
	left: -280px;
	height: 100%;
	position: fixed;
	top: 0;
	margin: 0;
	float: none;
	background-color: #fff;
	border-radius: 0px;
	z-index: 103;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	border: none !important;
	background-color: #fff !important;
}
.wsmenu {
	border-left: none;
	float: none;
	width: 100%;
	display: block !important;
	height: 100%;
	overflow-y: auto;
	display: block !important;
}
.wsmenu-click {
	height: 48px;
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	cursor: pointer;
	width: 100%;
}
.wsmenu-click i {
	display: block;
	height: 23px;
	width: 25px;
	margin: 11px 8px;
	text-align:center;
	background-size: 25px;
	font-size: 21px;
	color: rgba(0,0,0,0.25);
	float: right;
}
.wsmenu-click02 {
	height: 43px;
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	cursor: pointer;
	width: 100%;
}
.wsmenu-click02 i {
	display: block;
	height: 23px;
	width: 25px;
	margin-top: 11px;
	margin-right: 8px;
	background-size: 25px;
	font-size: 21px;
	color: rgba(0,0,0,0.25);
	float: right;
}
.ws-activearrow > i {
	transform: rotate(180deg);
}
.wsmenu-rotate {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.animated-arrow {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 102;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.wsoffcanvasopener .animated-arrow {
	left: 280px;
}
.animated-arrow {
	cursor: pointer;
	padding: 13px 35px 16px 0px;
	margin: 10px 0 0 15px;
}
.animated-arrow span, .animated-arrow span:before, .animated-arrow span:after {
	cursor: pointer;
	height: 2px;
	width: 23px;
	background: #444;
	position: absolute;
	display: block;
	content: '';
}
.animated-arrow span:before {
	top: -7px;
}
.animated-arrow span:after {
	bottom: -7px;
}
.animated-arrow span, .animated-arrow span:before, .animated-arrow span:after {
	transition: all 500ms ease-in-out;
}
.wsoffcanvasopener .animated-arrow span {
	background-color: transparent;
}
.wsoffcanvasopener .animated-arrow span:before{top: 1px;}
.wsoffcanvasopener .animated-arrow.active span:after {top: 7px;}
.wsoffcanvasopener .animated-arrow span:after{top:1px;}
.wsoffcanvasopener .animated-arrow span:before {
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	bottom: 0px;
}
.wsoffcanvasopener .animated-arrow span:after {
	transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
.megacolimage {
	width: 90% !important;
	margin: 0% 5% !important;
}
.typographylinks {
	width: 98% !important;
	margin: 0% 1% !important;
	padding: 10px 9px;
}
.typographydiv {
	width: 86% !important;
	margin: 0% 7% !important;
}
.mainmapdiv {
	width: 90% !important;
	margin: 0% 5% !important;
}
.innerpnd {
	padding: 0px !important;
}
.typography-text {
	padding: 10px 0px;
}
.wsmenu-list .megamenu {
	background-color: #fff;
	color: #666666;
	display: none;
	position: relative !important;
	top: 0px;
	padding: 0px;
	border: solid 0px;
	transform: none !important;
	opacity: 1 !important;
	visibility: visible !important;
}
.wsmenu-list li:hover .megamenu {
	display: none;
	position: relative !important;
	top: 0px;
}
.megamenu .title {
	color: #666666;
	font-size: 15px !important;
	padding: 10px 8px 10px 0px;
}
.ad-style {
	width: 100% !important;
}
.megacollink {
	width: 100% !important;
	padding: 0px 9px !important;
	margin: 0% !important;
}
.megamenu ul li.title {
	line-height: 26px;
	color: #666666;
	margin: 0px;
	font-size: 15px;
	padding: 7px 13px !important;
	border-bottom: 1px solid #d5d5d5;
	background-color: transparent !important;
}
.wsmenu-submenu > li:hover>a {
	background-color: #7b7b7b;
	color: #666666;
}
.wsmenu > .wsmenu-list > li > a.active {
	color: #666666;
	background-color: rgba(0,0,0,0.08);
}
.wsmenu > .wsmenu-list > li > a:hover {
	color: #666666;
	background-color: rgba(0,0,0,0.08);
}
.wsmenu-list li:hover .wsmenu-submenu {
	display: none;
}
.wsmenu-list li:hover .wsmenu-submenu .wsmenu-submenu-sub {
	display: none;
}
.wsmenu-list .wsmenu-submenu .wsmenu-submenu-sub li:hover .wsmenu-submenu-sub-sub {
	display: none;
	list-style: none;
	padding: 2px;
	border: solid 1px #eeeeee;
	background-color: #fff;
}
.wsmenu-list li:first-child a {
	-webkit-border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
}
.wsmenu-list li:last-child a {
	-webkit-border-radius: 0px 4px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
	border-right: 0px solid;
}
.wsmenu-submenu-sub {
	width: 100% !important;
	position: static !important;
	left: 100% !important;
	top: 0 !important;
	display: none;
	margin: 0px !important;
	padding: 0px !important;
	border: solid 0px !important;
	transform: none !important;
	opacity: 1 !important;
	visibility: visible !important;
}
.wsmenu-submenu-sub li {
	margin: 0px 0px 0px 0px !important;
	padding: 0px;
	position: relative;
}
.wsmenu-submenu-sub a {
	display: block;
	padding: 10px 25px 10px 25px;
	border-bottom: 1px solid #d5d5d5;
	font-weight: normal;
}
.wsmenu-submenu-sub li a.active {
	color: #000 !important;
}
.wsmenu-submenu-sub li:hover>a {
	background-color: #333333 !important;
	color: #fff;
}
.wsmenu > .wsmenu-list > li > a > .fa {
	font-size: 16px;
	color: #bfbfbf;
	margin-right: 11px;
	text-align: center;
	width: 19px;
}
.wsmenu-submenu-sub-sub {
	width: 100% !important;
	position: static !important;
	left: 100% !important;
	top: 0 !important;
	display: none;
	margin: 0px !important;
	padding: 0px !important;
	border: solid 0px !important;
	transform: none !important;
	opacity: 1 !important;
	visibility: visible !important;
}
.wsmenu-submenu-sub-sub li {
	margin: 0px 0px 0px 0px !important;
}
.wsmenu-submenu-sub-sub a {
	display: block;
	color: #000;
	padding: 10px 25px;
	background: #000 !important;
	border-bottom: 1px solid #d5d5d5;
	font-weight: normal;
}
.wsmenu-submenu-sub-sub li a.active {
	color: #000 !important;
}
.wsmenu-submenu-sub-sub li:hover>a {
	background-color: #606060 !important;
	color: #fff;
}
.wsmenu .wsmenu-list {
	display: block !important;
}
.wsmenu .wsmenu-list > li {
	width: 85%;
	display: block;
	float: none;
	border-right: none;
	background-color: transparent;
	position: relative;
	white-space: inherit;
	clear: left;
}
.wsmenu > .wsmenu-list > li > a {
	padding: 11px 32px 12px 15px;
	font-size: 14px;
	text-align: left;
	border-right: solid 0px;
	background-color: transparent;
	color: #666666;
	line-height: 25px;
	border-bottom: 1px solid #d5d5d5;
	position: static;
}
.wsmenu .wsmenu-list li a .arrow:after {
	display: none !important;
}

.mobile-sub .wsmenu-submenu {
	transform: none !important;
	opacity: 1 !important;
	display: none;
	position: relative !important;
	top: 0px;
	background-color: #f3f3f3;
	border-bottom: solid 1px #e1e1e1;
	padding: 0px;
	visibility: visible !important;
}
.mobile-sub .wsmenu-submenu li a {
	line-height: 20px;
	height: 36px;
	background-color: #f3f3f3 !important;
	font-size: 13px !important;
	padding: 8px 0px 8px 18px;
	color: #555;
	width:100%;display:inline-block; box-sizing:border-box;
}
.mobile-sub .wsmenu-submenu li a:hover {
	background-color: #f3f3f3 !important;
	color: #666666;
	text-decoration: underline;
}
.mobile-sub .wsmenu-submenu li:hover > a {
	background-color: #f3f3f3 !important;
	color: #292c89;
}
.mobile-sub .wsmenu-submenu li .wsmenu-submenu-sub li a {
	line-height: 20px;
	height: 36px;
	background-color: #e7e7e7 !important;
	border-bottom: none;
	padding-left: 28px;
}
.mobile-sub .wsmenu-submenu li .wsmenu-submenu-sub li .wsmenu-submenu-sub-sub li a {
	line-height: 20px;
	height: 36px;
	background-color: #e7e7e7 !important;
	border-bottom: none !important;
	padding-left: 38px;
	color: #8e8e8e;
}
.wsmenu-list > li.socialicon a {
	width: 100%;
}
.wsmenu-list > li.carticon em.roundpoint {
	left: 22px;
}
.halfdiv .title {
	padding-left: 15px;
}
.halfdiv {
	width: 100%;
	display: block;
}
.halfdiv03 .title {
	padding-left: 15px;
}
.halfdiv03 {
	width: 100%;
}
.halfmenu {
	width: 100%;
	display: block;
}
.menu_form {
	padding: 10px 10px 63px 10px;
	background-color: #e7e7e7;
}
.menu_form input[type="button"] {
	width: 46%;
}
.menu_form input[type="submit"] {
	width: 46%;
}
.menu_form textarea {
	min-height: 100px;
}
.wsmenu-list li > .wsmenu-submenu {
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	visibility: visible !important;
}
.wsmenu-list li:hover > .wsmenu-submenu {
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	visibility: visible !important;
}
.wsmenu-submenu li > .wsmenu-submenu-sub {
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	visibility: visible !important;
}
.wsmenu-submenu li:hover > .wsmenu-submenu-sub {
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	visibility: visible !important;
	opacity: 1 !important;
}
.wsmenu-submenu-sub li > .wsmenu-submenu-sub-sub {
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	visibility: visible !important;
	opacity: 1 !important;
}
.wsmenu-submenu-sub li:hover > .wsmenu-submenu-sub-sub {
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	visibility: visible !important;
	opacity: 1 !important;
}
.wsmenu-list li > .megamenu {
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	visibility: visible !important;
	opacity: 1 !important;
}
.wsmenu-list li:hover > .megamenu {
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	visibility: visible !important;
	opacity: 1 !important;
}
}
/*--------------------------------------------------------------------------
|  05 Additional Themes (Optionnal)
--------------------------------------------------------------------------*/ 

.gry {
	background: #424242;
	color: #fff;
}
.orange {
	background: #ff670f;
	color: #fff;
}
.blue {
	background: #4A89DC;
	color: #fff;
}
.green {
	background: #74a52e;
	color: #fff;
}
.red {
	background: #DA4B38;
	color: #fff;
}
.yellow {
	background: #F6BB42;
	color: #fff;
}
.purple {
	background: #967ADC;
	color: #fff;
}
.pink {
	background: #ee1289;
	color: #fff;
}
.chocolate {
	background: #934915;
	color: #fff;
}
.gry > .wsmenu > .wsmenu-list > li > a {
	color: #424242;
}
.gry > .wsmenu > .wsmenu-list > li > a {
	background-color: #fff !important;
}
.gry > .wsmenu > .wsmenu-list > li > a > .arrow:after {
	border-top-color: #E5E5E5 !important;
}
.gry > .wsmenu > .wsmenu-list > li:hover>a {
	background: #424242 !important;
	color: #fff !important;
}
.gry > .wsmenu > .wsmenu-list > li > a:hover {
	background: #424242 !important;
	color: #fff !important;
}
.gry > .wsmenu > .wsmenu-list > li > a.active {
	background: #424242 !important;
	color: #fff !important;
}
.gry > .wsmenu > .wsmenu-list > li > a.active .fa {
	color: #fff !important;
}
.gry > .wsmenu > .wsmenu-list > li > a:hover .fa {
	color: #fff !important;
}
.gry > .wsmenu > .wsmenu-submenu > li > a:hover {
	background: #424242;
	border-radius: 0px!important;
	color: #fff;
}
.gry .wsmenu > .wsmenu-list li a:hover .arrow:after {
	border-top-color: #fff;
}
.gry .wsmenu > .wsmenu-list li a.active .arrow:after {
	border-top-color: #fff;
}
.gry .wsmenu > .wsmenu-list li:hover>a .arrow:after {
	border-top-color: #fff;
}
.orange > .wsmenu > .wsmenu-list > li > a {
	color: #424242;
}
.orange > .wsmenu > .wsmenu-list > li > a {
	background-color: #fff !important;
}
.orange > .wsmenu > .wsmenu-list > li > a > .arrow:after {
	border-top-color: #E5E5E5 !important;
}
.orange > .wsmenu > .wsmenu-list > li:hover>a {
	background: #ff670f !important;
	color: #fff !important;
}
.orange > .wsmenu > .wsmenu-list > li > a:hover {
	background: #ff670f !important;
	color: #fff !important;
}
.orange > .wsmenu > .wsmenu-list > li > a.active {
	background: #ff670f !important;
	color: #fff !important;
}
.orange > .wsmenu > .wsmenu-list > li > a.active .fa {
	color: #fff !important;
}
.orange > .wsmenu > .wsmenu-list > li > a:hover .fa {
	color: #fff !important;
}
.orange > .wsmenu > .wsmenu-submenu > li > a:hover {
	background: #ff670f;
	border-radius: 0px!important;
	color: #fff;
}
.orange .wsmenu > .wsmenu-list li a:hover .arrow:after {
	border-top-color: #fff;
}
.orange .wsmenu > .wsmenu-list li a.active .arrow:after {
	border-top-color: #fff;
}
.orange .wsmenu > .wsmenu-list li:hover>a .arrow:after {
	border-top-color: #fff;
}
.blue > .wsmenu > .wsmenu-list > li > a {
	color: #424242;
}
.blue > .wsmenu > .wsmenu-list > li > a {
	background-color: #fff !important;
}
.blue > .wsmenu > .wsmenu-list > li > a > .arrow:after {
	border-top-color: #E5E5E5 !important;
}
.blue > .wsmenu > .wsmenu-list > li:hover>a {
	background: #4A89DC !important;
	color: #fff !important;
}
.blue > .wsmenu > .wsmenu-list > li > a:hover {
	background: #4A89DC !important;
	color: #fff !important;
}
.blue > .wsmenu > .wsmenu-list > li > a.active {
	background: #4A89DC !important;
	color: #fff !important;
}
.blue > .wsmenu > .wsmenu-list > li > a:hover .fa {
	color: #fff !important;
}
.blue > .wsmenu > .wsmenu-list > li > a.active .fa {
	color: #fff !important;
}
.blue > .wsmenu > .wsmenu-submenu li > a:hover {
	background: #4A89DC !important;
	border-radius: 0px!important;
	color: #fff !important;
}
.blue .wsmenu > .wsmenu-list li a:hover .arrow:after {
	border-top-color: #fff;
}
.blue .wsmenu > .wsmenu-list li a.active .arrow:after {
	border-top-color: #fff;
}
.blue .wsmenu > .wsmenu-list li:hover>a .arrow:after {
	border-top-color: #fff;
}
.green > .wsmenu > .wsmenu-list > li > a {
	color: #424242;
}
.green > .wsmenu > .wsmenu-list > li > a {
	background-color: #fff !important;
}
.green > .wsmenu > .wsmenu-list > li > a > .arrow:after {
	border-top-color: #E5E5E5 !important;
}
.green > .wsmenu > .wsmenu-list > li:hover>a {
	background: #74a52e !important;
	color: #fff !important;
}
.green > .wsmenu > .wsmenu-list > li > a:hover {
	background: #74a52e !important;
	color: #fff !important;
}
.green > .wsmenu > .wsmenu-list > li > a.active {
	background: #74a52e !important;
	color: #fff !important;
}
.green > .wsmenu > .wsmenu-list > li > a.active .fa {
	color: #fff !important;
}
.green > .wsmenu > .wsmenu-list > li > a:hover .fa {
	color: #fff !important;
}
.green > .wsmenu > .wsmenu-submenu > li > a:hover {
	background: #74a52e !important;
	border-radius: 0px!important;
	color: #fff !important;
}
.green .wsmenu > .wsmenu-list li a:hover .arrow:after {
	border-top-color: #fff;
}
.green .wsmenu > .wsmenu-list li a.active .arrow:after {
	border-top-color: #fff;
}
.green .wsmenu > .wsmenu-list li:hover>a .arrow:after {
	border-top-color: #fff;
}
.red > .wsmenu > .wsmenu-list > li > a {
	color: #424242;
}
.red > .wsmenu > .wsmenu-list > li > a {
	background-color: #fff !important;
}
.red > .wsmenu > .wsmenu-list > li > a > .arrow:after {
	border-top-color: #E5E5E5 !important;
}
.red > .wsmenu > .wsmenu-list > li:hover>a {
	background: #DA4B38 !important;
	color: #fff !important;
}
.red > .wsmenu > .wsmenu-list > li > a:hover {
	background: #DA4B38 !important;
	color: #fff !important;
}
.red > .wsmenu > .wsmenu-list > li > a.active {
	background: #DA4B38 !important;
	color: #fff !important;
}
.red > .wsmenu > .wsmenu-list > li > a.active .fa {
	color: #fff !important;
}
.red > .wsmenu > .wsmenu-list > li > a:hover .fa {
	color: #fff !important;
}
.red > .wsmenu-submenu > li > a:hover {
	background: #DA4B38 !important;
	border-radius: 0px!important;
	color: #fff !important;
}
.red .wsmenu > .wsmenu-list li a:hover .arrow:after {
	border-top-color: #fff;
}
.red .wsmenu > .wsmenu-list li a.active .arrow:after {
	border-top-color: #fff;
}
.red .wsmenu > .wsmenu-list li:hover>a .arrow:after {
	border-top-color: #fff;
}
.yellow > .wsmenu > .wsmenu-list > li > a {
	color: #424242;
}
.yellow > .wsmenu > .wsmenu-list > li > a {
	background-color: #fff !important;
}
.yellow > .wsmenu > .wsmenu-list > li > a > .arrow:after {
	border-top-color: #E5E5E5 !important;
}
.yellow > .wsmenu > .wsmenu-list > li:hover>a {
	background: #F6BB42 !important;
	color: #fff !important;
}
.yellow > .wsmenu > .wsmenu-list > li > a:hover {
	background: #F6BB42 !important;
	color: #fff !important;
}
.yellow > .wsmenu > .wsmenu-list > li > a.active {
	background: #F6BB42 !important;
	color: #fff !important;
}
.yellow > .wsmenu > .wsmenu-list > li > a.active .fa {
	color: #fff !important;
}
.yellow > .wsmenu > .wsmenu-list > li > a:hover .fa {
	color: #fff !important;
}
.yellow > .wsmenu > .wsmenu-submenu > li > a:hover {
	background: #F6BB42 !important;
	border-radius: 0px!important;
	color: #fff !important;
}
.yellow .wsmenu > .wsmenu-list li a:hover .arrow:after {
	border-top-color: #fff;
}
.yellow .wsmenu > .wsmenu-list li a.active .arrow:after {
	border-top-color: #fff;
}
.yellow .wsmenu > .wsmenu-list li:hover>a .arrow:after {
	border-top-color: #fff;
}
.yellow > .wsmenu > .wsmenu-list li a .fa {
	color: #424242 !important;
}
.purple > .wsmenu > .wsmenu-list > li > a {
	color: #424242;
}
.purple > .wsmenu > .wsmenu-list > li > a {
	background-color: #fff !important;
}
.purple > .wsmenu > .wsmenu-list > li > a > .arrow:after {
	border-top-color: #E5E5E5 !important;
}
.purple > .wsmenu > .wsmenu-list > li:hover>a {
	background: #967ADC !important;
	color: #fff !important;
}
.purple > .wsmenu > .wsmenu-list > li > a:hover {
	background: #967ADC !important;
	color: #fff !important;
}
.purple > .wsmenu > .wsmenu-list > li > a.active {
	background: #967ADC !important;
	color: #fff !important;
}
.purple > .wsmenu > .wsmenu-list > li > a.active .fa {
	color: #fff !important;
}
.purple > .wsmenu > .wsmenu-list > li > a:hover .fa {
	color: #fff !important;
}
.purple > .wsmenu > .wsmenu-submenu > li > a:hover {
	background: #967ADC !important;
	border-radius: 0px!important;
	color: #fff !important;
}
.purple .wsmenu > .wsmenu-list li a:hover .arrow:after {
	border-top-color: #fff;
}
.purple .wsmenu > .wsmenu-list li a.active .arrow:after {
	border-top-color: #fff;
}
.purple .wsmenu > .wsmenu-list li:hover>a .arrow:after {
	border-top-color: #fff;
}
.pink > .wsmenu > .wsmenu-list > li > a {
	color: #424242;
}
.pink > .wsmenu > .wsmenu-list > li > a {
	background-color: #fff !important;
}
.pink > .wsmenu > .wsmenu-list > li > a > .arrow:after {
	border-top-color: #E5E5E5 !important;
}
.pink > .wsmenu > .wsmenu-list > li:hover>a {
	background: #ee1289 !important;
	color: #fff !important;
}
.pink > .wsmenu > .wsmenu-list > li > a:hover {
	background: #ee1289 !important;
	color: #fff !important;
}
.pink > .wsmenu > .wsmenu-list > li > a.active {
	background: #ee1289 !important;
	color: #fff !important;
}
.pink > .wsmenu > .wsmenu-list > li > a.active .fa {
	color: #fff !important;
}
.pink > .wsmenu > .wsmenu-list > li > a:hover .fa {
	color: #fff !important;
}
.pink > .wsmenu > .wsmenu-submenu > li > a:hover {
	background: #ee1289 !important;
	border-radius: 0px!important;
	color: #fff !important;
}
.pink .wsmenu > .wsmenu-list li a:hover .arrow:after {
	border-top-color: #fff;
}
.pink .wsmenu > .wsmenu-list li a.active .arrow:after {
	border-top-color: #fff;
}
.pink .wsmenu > .wsmenu-list li:hover>a .arrow:after {
	border-top-color: #fff;
}
.chocolate > .wsmenu > .wsmenu-list > li > a {
	color: #424242;
}
.chocolate > .wsmenu > .wsmenu-list > li > a {
	background-color: #fff !important;
}
.chocolate > .wsmenu > .wsmenu-list > li > a > .arrow:after {
	border-top-color: #E5E5E5 !important;
}
.chocolate > .wsmenu > .wsmenu-list > li:hover>a {
	background: #934915 !important;
	color: #fff !important;
}
.chocolate > .wsmenu > .wsmenu-list > li a:hover {
	background: #934915 !important;
	color: #fff !important;
}
.chocolate > .wsmenu > .wsmenu-list > li a.active {
	background: #934915 !important;
	color: #fff !important;
}
.chocolate > .wsmenu > .wsmenu-list > li > a.active .fa {
	color: #fff !important;
}
.chocolate > .wsmenu > .wsmenu-list > li > a:hover .fa {
	color: #fff !important;
}
.chocolate > .wsmenu > .wsmenu-submenu > li a:hover {
	background: #934915 !important;
	border-radius: 0px!important;
	color: #fff !important;
}
.chocolate .wsmenu > .wsmenu-list li a:hover .arrow:after {
	border-top-color: #fff;
}
.chocolate .wsmenu > .wsmenu-list li a.active .arrow:after {
	border-top-color: #fff;
}
.chocolate .wsmenu > .wsmenu-list li:hover>a .arrow:after {
	border-top-color: #fff;
}
.tranbg {
	background-color: transparent !important;
}
.whitebg {
	background-color: #fff !important;
}
.whitebg:hover {
	color: #000 !important;
}
.pm_buttoncolor .wsmenu-list > li > a .fa {
	color: #fff !important;
}
.pm_buttoncolor03 .wsmenu-list > li:hover>a .fa {
	color: #fff !important;
}
.pm_buttoncolor .wsmenu-list li a .arrow:after {
	border-top-color: #fff;
}
.pm_buttoncolor03 {
	background-color: #fff !important;
}
.pm_buttoncolor03 .smllogo a {
	height: 48px;
	background: #565656;
	background: -moz-linear-gradient(top, #565656 0%, #424242 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #565656), color-stop(100%, #424242));
	background: -webkit-linear-gradient(top, #565656 0%, #424242 100%);
	background: -o-linear-gradient(top, #565656 0%, #424242 100%);
	background: -ms-linear-gradient(top, #565656 0%, #424242 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565656', endColorstr='#424242', GradientType=0 );
}
.pm_buttoncolor02 .smllogo a {
	height: 48px;
	background: #565656;
	background: -moz-linear-gradient(top, #565656 0%, #424242 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #565656), color-stop(100%, #424242));
	background: -webkit-linear-gradient(top, #565656 0%, #424242 100%);
	background: -o-linear-gradient(top, #565656 0%, #424242 100%);
	background: -ms-linear-gradient(top, #565656 0%, #424242 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565656', endColorstr='#424242', GradientType=0 );
}
.blue-grdt {
	background: #5999ee;
	background: -moz-linear-gradient(top, #5999ee 0%, #4a89dc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5999ee), color-stop(100%, #4a89dc));
	background: -webkit-linear-gradient(top, #5999ee 0%, #4a89dc 100%);
	background: -o-linear-gradient(top, #5999ee 0%, #4a89dc 100%);
	background: -ms-linear-gradient(top, #5999ee 0%, #4a89dc 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5999ee', endColorstr='#4a89dc', GradientType=0 );
	color: #fff;
}
.gry-grdt {
	background: #565656;
	background: -moz-linear-gradient(top, #565656 0%, #424242 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #565656), color-stop(100%, #424242));
	background: -webkit-linear-gradient(top, #565656 0%, #424242 100%);
	background: -o-linear-gradient(top, #565656 0%, #424242 100%);
	background: -ms-linear-gradient(top, #565656 0%, #424242 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565656', endColorstr='#424242', GradientType=0 );
	color: #fff;
}
.green-grdt {
	background: #86ba3d;
	background: -moz-linear-gradient(top, #86ba3d 0%, #74a52e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #86ba3d), color-stop(100%, #74a52e));
	background: -webkit-linear-gradient(top, #86ba3d 0%, #74a52e 100%);
	background: -o-linear-gradient(top, #86ba3d 0%, #74a52e 100%);
	background: -ms-linear-gradient(top, #86ba3d 0%, #74a52e 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86ba3d', endColorstr='#74a52e', GradientType=0 );
	color: #fff;
}
.red-grdt {
	background: #f05c48;
	background: -moz-linear-gradient(top, #f05c48 0%, #da4b38 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f05c48), color-stop(100%, #da4b38));
	background: -webkit-linear-gradient(top, #f05c48 0%, #da4b38 100%);
	background: -o-linear-gradient(top, #f05c48 0%, #da4b38 100%);
	background: -ms-linear-gradient(top, #f05c48 0%, #da4b38 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f05c48', endColorstr='#da4b38', GradientType=0 );
	color: #fff;
}
.orange-grdt {
	background: #fc7d33;
	background: -moz-linear-gradient(top, #fc7d33 0%, #ff670f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fc7d33), color-stop(100%, #ff670f));
	background: -webkit-linear-gradient(top, #fc7d33 0%, #ff670f 100%);
	background: -o-linear-gradient(top, #fc7d33 0%, #ff670f 100%);
	background: -ms-linear-gradient(top, #fc7d33 0%, #ff670f 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc7d33', endColorstr='#ff670f', GradientType=0 );
	color: #fff;
}
.yellow-grdt {
	background: #ffcd67;
	background: -moz-linear-gradient(top, #ffcd67 0%, #f6bb42 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffcd67), color-stop(100%, #f6bb42));
	background: -webkit-linear-gradient(top, #ffcd67 0%, #ff670f 100%);
	background: -o-linear-gradient(top, #ffcd67 0%, #f6bb42 100%);
	background: -ms-linear-gradient(top, #ffcd67 0%, #f6bb42 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcd67', endColorstr='#f6bb42', GradientType=0 );
	color: #fff;
}
.purple-grdt {
	background: #a98ded;
	background: -moz-linear-gradient(top, #a98ded 0%, #967adc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a98ded), color-stop(100%, #967adc));
	background: -webkit-linear-gradient(top, #a98ded 0%, #967adc 100%);
	background: -o-linear-gradient(top, #a98ded 0%, #967adc 100%);
	background: -ms-linear-gradient(top, #a98ded 0%, #967adc 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a98ded', endColorstr='#967adc', GradientType=0 );
	color: #fff;
}
.pink-grdt {
	background: #fb3ea4;
	background: -moz-linear-gradient(top, #fb3ea4 0%, #f21b8f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fb3ea4), color-stop(100%, #f21b8f));
	background: -webkit-linear-gradient(top, #fb3ea4 0%, #f21b8f 100%);
	background: -o-linear-gradient(top, #fb3ea4 0%, #f21b8f 100%);
	background: -ms-linear-gradient(top, #fb3ea4 0%, #f21b8f 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb3ea4', endColorstr='#f21b8f', GradientType=0 );
	color: #fff;
}
.tranbg > .wsmenu > .wsmenu-list > li > a {
	color: #424242;
	border-right: none;
	border-left: none;
	background-color: transparent;
}
.tranbg > .wsmenu > .wsmenu-list > li > a:hover {
	background-color: transparent !important;
}
.tranbg > .wsmenu > .wsmenu-list > li > a {
	background-color: transparent !important;
}
.tranbg > .wsmenu > .wsmenu-list > li > a > .arrow:after {
	border-top-color: #898d91 !important;
}
.tranbg > .wsmenu {
	border: none;
}
.whitebg > .wsmenu > .wsmenu-list > li > a {
	color: #424242;
}
.whitebg > .wsmenu > .wsmenu-list > li > a > .arrow:after {
	border-top-color: #E5E5E5 !important;
}
.red-grdt > .wsmenu > .wsmenu-list > li > a {
	color: #fff !important;
}
.red-grdt > .wsmenu > .wsmenu-list > li > a > .arrow:after {
	border-top-color: #fff !important;
}
.gry-grdt > .wsmenu > .wsmenu-list > li > a {
	color: #fff !important;
}
.gry-grdt > .wsmenu > .wsmenu-list > li > a > .arrow:after {
	border-top-color: #fff !important;
}
.blue-grdt > .wsmenu > .wsmenu-list > li > a {
	color: #fff !important;
}
.blue-grdt > .wsmenu > .wsmenu-list > li > a > .arrow:after {
	border-top-color: #fff !important;
}
.green-grdt > .wsmenu > .wsmenu-list > li > a {
	color: #fff !important;
}
.green-grdt > .wsmenu > .wsmenu-list > li > a > .arrow:after {
	border-top-color: #fff !important;
}
.orange-grdt > .wsmenu > .wsmenu-list > li > a {
	color: #fff !important;
}
.orange-grdt > .wsmenu > .wsmenu-list > li > a > .arrow:after {
	border-top-color: #fff !important;
}
.yellow-grdt > .wsmenu > .wsmenu-list > li > a {
	color: #424242 !important;
}
.yellow-grdt > .wsmenu > .wsmenu-list > li > a > .arrow:after {
	border-top-color: #424242 !important;
}
.yellow-grdt > .wsmenu > .wsmenu-list li a .fa {
	color: #424242 !important;
}
.purple-grdt > .wsmenu > .wsmenu-list > li > a {
	color: #fff !important;
}
.purple-grdt > .wsmenu > .wsmenu-list > li > a > .arrow:after {
	border-top-color: #fff !important;
}
.pink-grdt > .wsmenu > .wsmenu-list > li > a {
	color: #fff !important;
}
.pink-grdt > .wsmenu > .wsmenu-list > li > a > .arrow:after {
	border-top-color: #fff !important;
}
 @media only screen and (max-width: 1024px) {
.tranbg {
	background-color: #fff !important;
}
.red-grdt > .wsmenu > .wsmenu-list > li > a > .fa {
	color: #fff !important;
}
.blue-grdt > .wsmenu > .wsmenu-list > li > a > .fa {
	color: #fff !important;
}
.orange-grdt > .wsmenu > .wsmenu-list > li > a > .fa {
	color: #fff !important;
}
.green-grdt > .wsmenu > .wsmenu-list > li > a > .fa {
	color: #fff !important;
}
.purple-grdt > .wsmenu > .wsmenu-list > li > a > .fa {
	color: #fff !important;
}
.pink-grdt > .wsmenu > .wsmenu-list > li > a > .fa {
	color: #fff !important;
}
.gry > .wsmenu-submenu > li:hover>a {
	background-color: #424242 !important;
	color: #fff;
}
.gry > .wsmenu .wsmenu-list > li > a.active {
	color: #fff;
	background-color: #424242;
}
.gry > .wsmenu .wsmenu-list > li > a:hover {
	color: #fff;
	background-color: #424242;
}
.orange > .wsmenu-submenu > li:hover>a {
	background-color: #ff670f !important;
	color: #fff;
}
.orange > .wsmenu > .wsmenu-list > li > a.active {
	color: #fff;
	background-color: #ff670f;
}
.orange > .wsmenu > .wsmenu-list > li > a:hover {
	color: #fff;
	background-color: #ff670f;
}
.blue > .wsmenu-submenu > li:hover>a {
	background-color: #4A89DC !important;
	color: #fff;
}
.blue > .wsmenu > .wsmenu-list > li > a.active {
	color: #fff;
	background-color: #4A89DC;
}
.blue > .wsmenu > .wsmenu-list > li > a:hover {
	color: #fff;
	background-color: #4A89DC;
}
.green > .wsmenu-submenu > li:hover>a {
	background-color: #74a52e !important;
	color: #fff;
}
.green > .wsmenu > .wsmenu-list > li > a.active {
	color: #fff;
	background-color: #74a52e;
}
.green > .wsmenu > .wsmenu-list > li > a:hover {
	color: #fff;
	background-color: #74a52e;
}
.red > .wsmenu-submenu > li:hover>a {
	background-color: #DA4B38 !important;
	color: #fff;
}
.red > .wsmenu > .wsmenu-list > li > a.active {
	color: #fff;
	background-color: #DA4B38;
}
.red > .wsmenu > .wsmenu-list > li > a:hover {
	color: #fff;
	background-color: #DA4B38;
}
.yellow > .wsmenu-submenu > li:hover>a {
	background-color: #F6BB42 !important;
	color: #fff;
}
.yellow > .wsmenu .wsmenu-list > li > a.active {
	color: #fff;
	background-color: #F6BB42;
}
.yellow > .wsmenu .wsmenu-list > li > a:hover {
	color: #fff;
	background-color: #F6BB42;
}
.purple > .wsmenu-submenu > li:hover>a {
	background-color: #967ADC !important;
	color: #fff;
}
.purple > .wsmenu > .wsmenu-list > li > a.active {
	color: #fff;
	background-color: #967ADC;
}
.purple > .wsmenu > .wsmenu-list > li > a:hover {
	color: #fff;
	background-color: #967ADC;
}
.pink > .wsmenu-submenu > li:hover>a {
	background-color: #ee1289 !important;
	color: #fff;
}
.pink > .wsmenu > .wsmenu-list > li > a.active {
	color: #fff;
	background-color: #ee1289;
}
.pink > .wsmenu > .wsmenu-list > li > a:hover {
	color: #fff;
	background-color: #ee1289;
}
.chocolate > .wsmenu-submenu > li:hover>a {
	background-color: #934915 !important;
	color: #fff;
}
.chocolate > .wsmenu > .wsmenu-list > li > a.active {
	color: #fff;
	background-color: #934915;
}
.chocolate > .wsmenu > .wsmenu-list > li > a:hover {
	color: #fff;
	background-color: #934915;
}
}


.hd .hd-main .hd-menu-list li.downloadBtn:hover{background:transparent; color:#333;}
.hd .hd-main .hd-menu-list > li.downloadBtn{margin:28px 0;padding:0 30px; text-align:center;}
.hd .hd-main .hd-menu-list > li.downloadBtn a{ color:#292c89; font-size:16px; font-weight:500;border:2px solid #292c89; border-radius:50px; display:inline-block; text-align:left; box-sizing: border-box; padding: 6px 20px 8px; line-height: 16px;}
.hd .hd-main .hd-menu-list > li.downloadBtn a img{margin-left:10px;margin-bottom:-2px;}
