<style>
	.carousel__item {
	min-height: 200px;
	
	background-color: var(--vc-clr-primary);
	color:  var(--vc-clr-white);
	font-size: 20px;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	}

	.carousel__slide {
	width: 100%;
	padding: 10px;
	}

	.carousel__prev,
	.carousel__next {
	box-sizing: content-box;
	border: 5px solid white;
	}
</style>

<script>
	import 'vue3-carousel/dist/carousel.css';
	import { Carousel, Slide } from 'vue3-carousel';

	export default {
		data() {
			return {
				logo1: require("@/common/img/main/main_icon1.png"),
				logo2: require("@/common/img/main/main_icon2.png"),
				logo3: require("@/common/img/main/main_icon3.png"),
			}
		},
		components: {
			Carousel,
			Slide,
		},
		method:{
			slideFullWidth() {
				//document.getElementsByClassName('carousel__slide').style.width='100%';
			}
		}
	};	


</script>

<template>
		<!--//pc 헤더-->
		<div id="main" class="wswrapper">
			<div id="app" class="wrapper">
			<!-- 슬라이더 for add to change slide 1 => 2 -->
			<carousel :items-to-show="1" :mouse-drag="true" :autoplay="5000" :wrapAround="true">
				<slide v-for="slide in 1" :key="slide">			
					<div v-if="slide == 1" class="slider">
						<div class="slide-viewer">
							<div class="slide-group">									
								<div class="slide slide-1">
									<div class="txtWrap">
										<div class="txt1">Beneficial to man{{slide}}</div>
										<div class="txt2">(주)데이타스 </div>
										<div class="txt3">(주)데이타스가 이루고자 하는 일은 보다 나은 기술이 아닌 <br>
										인간을 이롭게 하는 기술개발을 통해 풍요롭고 편리한 삶을 만드는 것입니다. </div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- next slide example
					<div v-if="slide == 2" class="slider">
						<div class="slide-viewer">
							<div class="slide-group">								
								<div class="slide slide-2">
									<div class="txtWrap">
										<div class="txt1">Beneficial to man{{slide}}</div>
										<div class="txt2">(주)데이따스 </div>
									</div>
								</div>																					
							</div>
						</div>
						<div class="slide-buttons"></div>
					</div>   
					-->
				</slide>
			</carousel>				
				<div class="section section1">
					<div class="contents">			
						<h4>Why The Datarse?</h4>
						<p class="txt">개인정보 침해 및 유출사고의 발생 가능성이 높아지는 현 상황에서<br>사고예방을 위한 적극적인 개인정보 보호 컨설팅과 안전하고 효과적인 개인정보 보호 솔루션을 통해<br>고객 비즈니스의 성장과 혁신을 지원하기 위해 전 임직원이 함께 노력하고 있습니다. </p>
						<ul id="main_logo_ul">
							<li>
								<div class="liwrap">
				                  <img :src="logo1"  alt="">
									<h5>고객 마인드</h5>
									<p>나의 업무처럼 정성과 열정을<br> 다함으로 상호 신뢰를 쌓아갑니다.</p>
								</div>
							</li>
							<li>
								<div class="liwrap">
									<img :src="logo2" alt="">
									<h5>업무 마인드</h5>
									<p>업무의 마지막에 이르러서도<br> 처음 시작하는 마음가짐으로 임합니다.</p>
								</div>
							</li>
							<li>
								<div class="liwrap">
									<img :src="logo3" alt="">
									<h5>기술 마인드</h5>
									<p>끊임없는 연구 개발을 통하여<br> 최신의 IT기술을 습득하고 제공합니다.</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="section section2">
					<div class="contents">
						<h4>What We Do</h4>
						<div class="wedo-wrap">
							<div class="centerImg"></div>
							<ul>
								<li class="liwrap1">
									<div>
										<h5>Consulting</h5>
										<!--
										<p>대형 SI 프로젝트 책임 수행</p>
										-->
										<ul>
											<li>- 개인정보보호 컨설팅</li>
											<li>- 가명처리교육 및 가명처리 컨설팅</li>
										</ul>
									</div>
								</li>
								<li class="liwrap2">
									<div>
										<h5>Solution </h5>
										<!-- 
										<p>SLA에 입각한 안정적, 고품질 ITO서비스 제공</p>
										-->
										<ul>
											<li>- 가명익명정보 통합관리 솔루션<br>&nbsp;&nbsp;&nbsp;(PAmaster)</li>
										</ul>
									</div>
								</li>
								<li class="liwrap3">
									<div>
										<h5>Service </h5>
										<!--
										<p>IT서비스 고도화, IT 비지니스 컨설팅</p>
										-->
										<ul>
											<li>- 비정형 데이터 비식별 처리 서비스</li>
										</ul>
									</div>
								</li>
								<li class="liwrap4">
									<div>
										<h5>SI Business</h5>
										<p>시스템 구축 프로젝트 수행</p>
										<ul>
											<li>- 개인정보(가명정보)</li>
											<li>- 빅데이터 분야</li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
</template> 

<!-- Add "scoped" attribute to limit CSS to this component only -->

