<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="Keywords" content="Datarse,데이타스,컴퓨터 소프트웨어 분석, 설계, 개발, 감리 등 용역서비스 제공 및 판매">
    <meta name="Description" content="컴퓨터 및 통신기기를 이용한 정보처리, 운영 유지보수 및 용역">
    <meta http-equiv="Content-Type" content="text/html; charset=euc-kr">
    <meta http-equiv="Pragma" content="no-cache">
    <META HTTP-EQUIV="Imagetoolbar" content="no">
    <!-- 전화번호 자동링크 없앨때 -->
    <meta name="format-detection" content="telephone=no" />
    <title>데이타스</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
