<template>
    <div id="wrapper" class="wswrapper chain">
			<div class="solution-title page-title">
				<div class="title-wrap">
					<h2>(주)데이타스 솔루션은 </h2>
					<div class="location">
						<ul>
							<!--
							<li><a href="../index.html"><i class="fa fa-home" aria-hidden="true"></i></a></li>
							-->
							<li><router-link to="/solution/pamaster"><a>개인정보 가명처리 업무 프로세스 전 과정을 지원, 관리하는 개인정보 가명처리 및 가명처리 평가 솔루션입니다.</a></router-link></li></ul>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="section section1">
					<div class="contents">
						<h3>데이타스의 가명처리 통합 솔루션은?</h3>
						<div class="chainBox">
							<div class="img">
								<img src="@/common/img/solution/graph.png" class="pc">
								<img src="@/common/img/solution/m_graph.png" class="m">
							</div>
							<div class="text txt1">
								<!--  div class="m">제품명</div-->
								<h5>제품명</h5>
								<ul>
									<li>· <span style="font-size:22px;color:#f18d00;font-weight:bold;">PA</span><span style="font-size:22px;color:#001860;font-weight:bold;">master</span>(가명익명정보 통합관리 솔루션)</li>
								</ul>
							</div>
							<div class="text txt2">
								<!--  div class="m">기능</div-->
								<h5>기능</h5>
								<ul>
									<li>· 개인정보 가명익명처리, 데이터 결합 및 적정성/반출심의평가</li>
									<li>· 모든 업무 수행과정을 처리/관리하는 통합솔루션</li>
								</ul>
							</div>
						</div>
					</div>
				</div>				
				<div class="section section2">
					<div class="contents">
						<h3>
              <span style="font-size:34px;color:#f18d00;font-weight:bold;">PA</span>
              <span style="font-size:34px;color:#001860;font-weight:bold;">master</span>
						  를 써야 하는 12가지 이유
            </h3>
						<table>
							<tbody>
								<tr>
									<td>
										<h4>01</h4>
										<div class="txt">개인정보보호법, 고시 및 가이드라인 충족 </div>
									</td>
									<td>
										<h4>02</h4>
										<div class="txt">위험도 측정을 위한 위험 파라미터 개발</div>
									</td>
								</tr>
								<tr>
									<td>
										<h4>03</h4>
										<div class="txt">단계별 데이터 상황 시각화</div>
									</td>
									<td>
										<h4>04</h4>
										<div class="txt">가명화/결합 고속처리를 위한 DB구조 및 설계를 차별화</div>
									</td>
								</tr>
								<tr>
									<td>
										<h4>05</h4>
										<div class="txt">가명처리기술/수준 추천 시스템</div>
									</td>
									<td>
										<h4>06</h4>
										<div class="txt">적정성/반출심의 평가기준 준수</div>
									</td>
								</tr>
								<tr>
									<td>
										<h4>07</h4>
										<div class="txt">신뢰성을 보장하는 평가지표를 통한 재식별 가능성 평가</div>
									</td>
									<td>
										<h4>08</h4>
										<div class="txt">사용자 중심의 레포팅 기능</div>
									</td>
								</tr>
								<tr>
									<td>
										<h4>09</h4>
										<div class="txt">감사 및 기록관리</div>
									</td>
									<td>
										<h4>10</h4>
										<div class="txt">커스터마이징 지원</div>
									</td>
								</tr>
								<tr>
									<td>
										<h4>11</h4>
										<div class="txt">솔루션 업무 안정화까지 무상 컨설팅 지원</div>
									</td>
									<td>
										<h4>12</h4>
										<div class="txt">양심적 솔루션 운영</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="section section2"  style="background-color:white;display:none;">
					<div class="contents">
						<div class="contentWrap">
						<h3><span style="font-size:34px;color:#f18d00;font-weight:bold;">PA</span><span style="font-size:34px;color:#001860;">master</span>
							의 구조</h3>
							<ul>
								<li>
								<div style="padding:20px;background-color:white;">	
									<img src="@/common/img/arche.png" style="width:100%;"/>
								</div>	
								</li>
							</ul>	
						</div>	
					</div>
				</div>	
				<div class="section section3" style="display:none;">
					<div class="contents">
						<h3>PAmaster를 써야 하는 12가지 이유</h3>
						<table>
							<tbody>
								<tr>
									<td style="background:#f9f9ff;">
										<h4><span>1</span>충족성</h4>
										<div class="txt1">가이드라인 충족</div>
										<div class="txt2">개인정보보호법, 고시 및 가이드라인 충족</div>
										<div class="bg bg1"><img src="@/common/img/solution/chainIcon1.png"></div>
									</td>
									<td>
										<h4><span>2</span>개발성</h4>
										<div class="txt1">위험 파라미터 개발</div>
										<div class="txt2">위험도 측정을 위한 위험 파라미터 개발</div>
										<div class="bg bg2"><img src="@/common/img/solution/chainIcon2.png"></div>
									</td>
									<td style="background:#f9f9ff;">
										<h4><span>3</span>시각성</h4>
										<div class="txt1">상황 시각화</div>
										<div class="txt2">데이터 상황 시각화</div>
										<div class="bg bg3"><img src="@/common/img/solution/chainIcon3.png"></div>
									</td>
								</tr>
							</tbody>
							<tbody>
								<tr>
									<td style="background:#f0f0f7;">
										<h4><span>4</span>차별성</h4>
										<div class="txt1">DB구조 및 설계의 차별화</div>
										<div class="txt2">가명화/결합 고속처리를 위한 DB구조 및 설계를 차별화</div>
										<div class="bg bg1"><img src="@/common/img/solution/chainIcon4.png"></div>
									</td>
									<td>
										<h4><span>5</span>구축성</h4>
										<div class="txt1">기술/수준/추천 시스템</div>
										<div class="txt2">가명처리기술/수준 추천 시스템</div>
										<div class="bg bg2"><img src="@/common/img/solution/chainIcon5.png"></div>
									</td>
									<td style="background:#f0f0f7;">
										<h4><span>6</span>적정성</h4>
										<div class="txt1">평가기준 준수</div>
										<div class="txt2">적정성/반출심의 평가기준 준수</div>
										<div class="bg bg3"><img src="@/common/img/solution/chainIcon6.png"></div>
									</td>
								</tr>
							</tbody>
							<tbody>
								<tr>
									<td style="background:#f9f9ff;">
										<h4><span>7</span>신뢰성</h4>
										<div class="txt1">재식별 가능성 평가</div>
										<div class="txt2">신뢰성을 보장하는 평가지표를 통한 재식별 가능성 평가</div>
										<div class="bg bg1"><img src="@/common/img/solution/chainIcon7.png"></div>
									</td>
									<td>
										<h4><span>9</span>중심성</h4>
										<div class="txt1">레포팅 기능</div>
										<div class="txt2">사용자 중심의 레포팅 기능</div>
										<div class="bg bg2"><img src="@/common/img/solution/chainIcon8.png"></div>
									</td>
									<td style="background:#f9f9ff;">
										<h4><span>10</span>관리성</h4>
										<div class="txt1">감사, 기록관리</div>
										<div class="txt2">감사, 기록관리</div>
										<div class="bg bg3"><img src="@/common/img/solution/chainIcon9.png"></div>
									</td>
								</tr>
							</tbody>
							<tbody>
								<tr>
									<td style="background:#f0f0f7;">
										<h4><span>11</span>확장성</h4>
										<div class="txt1">커스터마이징 지원</div>
										<div class="txt2">커스터마이징 지원</div>
										<div class="bg bg1"><img src="@/common/img/solution/chainIcon10.png"></div>
									</td>
									<td>
										<h4><span>11</span>안정성</h4>
										<div class="txt1">무상 컨설팅 지원</div>
										<div class="txt2">솔루션 업무 안정화까지 무상 컨설팅 지원</div>
										<div class="bg bg2"><img src="@/common/img/solution/chainIcon11.png"></div>
									</td>
									<td style="background:#f0f0f7;">
										<h4><span>12</span>양심성</h4>
										<div class="txt1">양심적 솔루션</div>
										<div class="txt2">양심적 솔루션 운영</div>
										<div class="bg bg3"><img src="@/common/img/solution/chainIcon12.png"></div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div id="wrapper" class="wswrapper recruit" style="margin-top:-20px;">
			<div class="container">
				<div class="section section2">
					<div class="contents">
						<div class="contentWrap">
							<h3><span style="font-size:34px;color:#f18d00;font-weight:bold;">PA</span><span style="font-size:34px;color:#001860;font-weight:bold;">master</span> 솔루션의 지원 및 주요기능</h3>
							<ul>
								<li>솔루션 단계별 절차</li>
								<li class="txt">
									<p><strong>프로젝트 생성 :</strong> 신규로 처리할 가명처리 및 결합 프로젝트 생성</p>
									<p><strong>사전준비 :</strong> 기본정보등록, 파일업로드, 관련자료 검토</p>
									<p><strong>가명처리 :</strong> 대상선정, 전처리, 위험도측정, 수준정의, 가명처리 </p>
									<p><strong>적정성검토 및 추가가명처리 :</strong> 가명처리 적정성평가, 추가가명처리 </p>
									<p><strong>가명정보 결합 :</strong> 가명정보 내부결합, 외부결합을 위한 준비 </p>
									<p><strong>반출심사/반출 :</strong> 반출심사, 반출 및 사후관리 </p>
								</li>
							</ul>
							<ul>
								<li>주요기능</li>
								<li class="txt">
									<p><strong>(컴플라이언스 충족) :</strong> 법, 가이드라인 기준의 All-in-one 서비스 제공</p>
									<p><strong>(가명·결합 고속처리) :</strong> 전처리 및 DB설계 차별화로 경쟁사 대비 고속처리 가능</p>
									<p><strong>(데이터 시각화) :</strong> 시각화를 통한 데이터 상황/분석에 대한 직관성 제공 </p>
									<p><strong>(가명정보 위험도 측정) :</strong> 가명처리/결합 위험도 정량측정 및 반출평가 지원 </p>
									<p><strong>(가명처리기술 추천) :</strong> 처리목적 및 위험도측정결과 기반 가명처리기술 추천기능 </p>
									<p><strong>(재식별가능성 평가) :</strong> 객관적/논리적/기술적 정량 평가지표 제공(타제품 미제공) </p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
</template>


