<template>
		<div id="wrapper" class="wswrapper recruit">
			<div class="business-title page-title">
				<div class="title-wrap">
					<h2>(주)데이타스는 </h2>
					<div class="location">
						<ul><!--
							<li><a href="../index.html"><i class="fa fa-home" aria-hidden="true"></i></a></li>
							-->
							<li><router-link to="/consulting"><a>전문가의 개인정보보호 컨설팅, 가명처리 컨설팅을 지원 합니다. </a></router-link></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="section section1">
					<div class="contents">
						<h3>가명정보 컨설팅 및 전문교육이 필요한 기관(기업)</h3>
						<div class="contentWrap">
							<div class="row">
								<ul>
									<li class="recruit-1">
										<div class="txt">
											<div>다량의 개인정보 보유,<br> 가명처리 등의 업무적용이 필요한 기관</div>
										</div>
									</li>
									<li class="recruit-2">
										<div class="txt">
											<div>개인정보가 포함된 <br>공공데이터 제공 정책을 고민하고 있는 기관</div>
										</div>
									</li>
									<li class="recruit-3">
										<div class="txt">
											<div>개인정보보호위원회,<br> ‘가명정보 적극행정 실행계획’에 관심 있는 기관</div>
										</div>
									</li>
									<li class="recruit-4">
										<div class="txt">
											<div>2021년부터 ‘가명정보 처리’가<br> 공공기관 개인정보 관리수준 진단에 포함되어 있는 기관</div>
										</div>
									</li>
									<li class="recruit-5">
										<div class="txt">
											<div>서로 다른 법인 간 개인정보<br>결합을 통해서 연구를 하고 싶은 기관</div>
										</div>
									</li>
									<li class="recruit-6">
										<div class="txt">
											<div>연구소 및 민간기업 등에서<br> 가명정보를 요청 받은 기관</div>
										</div>
									</li>
									<li class="recruit-7">
										<div class="txt">
											<div>우리 조직에 가명익명처리 업무<br> 관련 전문교육과 컨설팅이 필요한 기관</div>
										</div>
									</li>
									<li class="recruit-8">
										<div class="txt">
											<div>보존기간 만기가 도래한 개인정보,<br> 공익을 위하여 지속 활용이 필요한 기관</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="section section2" style="margin-top:-70px;">
					<div class="contents">
						<div class="contentWrap">
							<h3>가명처리교육 및 가명처리 컨설팅</h3>
							<ul>
								<li>가명처리 컨설팅</li>
								<li class="txt">
									<p>가명처리 업무의 조직 적용 방안</p>
									<p>지침 및 내부관리계획 이하 관리 규정 정비</p>
									<p>가명처리 업무수행 방안 및 절차 수립</p>
									<p>타 법인과의 가명정보 결합 및 활용방안</p>
									<p>가명처리 운영업무 지원 등</p>
								</li>
							</ul>		
							<ul>
								<li>가명처리 전문교육</li>
								<li class="txt">
									<p>가명정보 법, 제도 및 가이드라인 등 기본교육</p>
									<p>가명처리기술 실무 및 전문가 교육</p>
									<p>이론교육 외 실제 솔루션 활용 경험</p>
								</li>
							</ul>
						</div>
						<div class="contentWrap" style="margin-top:60px;">
							<h3>개인정보보호 컨설팅</h3>
							<ul>
								<li>관리수준 진단 및 실태점검</li>
								<li class="txt">
									<p>개인정보보호위원회 공공기관 개인정보 관리수준 진단 대응</p>
									<p>개인정보보호법 의무사항 이행 점검</p> 
									<p></p>
								</li>
							</ul>
							<ul>
								<li>개인정보보호 교육</li>
								<li class="txt">
									<p>(개인정보보호) 개인정보 취급자 담당자 및 책임자 대상 개인정보보호 법정 의무 교육</p>
									<p>(가명처리) 가명처리 취급자 및 개인정보 보호 담당자 가명정보처리 교육</p>									
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
</template>
