<style scoped>
    .fta {
        font-size:13px; 
        color:#d8d8d8;
    }
</style>

<template>
    <div id="footer">
        <div class="ft">
            <h1 class="logo">
                <img src="@/common/img/ft_logo.png" class="pc" alt="" />
                <img src="@/common/img/m_ft_logo.png" class="mobile" alt="" />
            </h1>
            <div class="ft_menu">
                <ul>
                    <li><router-link to="/company"><a class="fta">COMPANY</a></router-link>
                        <!--
                        <ul class="sub">
                            <li><a href="company/company.html">회사개요</a></li>
                            <li><a href="company/ceo.html">CEO 인사말</a></li>
                        </ul>
                        -->                    
                    </li>
                    <li><router-link to="/consulting"><a class="fta">CONSULTING</a></router-link></li>
                    <li><router-link to="/solution/pamaster"><a class="fta">SOLUTION</a></router-link></li>
                    <li><router-link to="/contact"><a class="fta">CONTACT US</a></router-link></li>
                </ul>
            </div>
            <address>
                <span class="ftBar">(주)데이타스</span>
                <span class="ftBar">대표이사 : 김현진</span><br>
                <span class="ftBar">서울 영등포구 경인로 775, 4동 409호(문래동3가, 에이스하이테크시티)</span>
            </address>
            <p class="copy">Copyright © (주)데이타스. All Rights Reserved.</p>
        </div>
    </div>    
</template>