<template>
    <div class="overlapblackbg"></div>
    <div class="wsmobileheader clearfix">
        <a id="wsnavtoggle" class="animated-arrow"><span></span></a>
        <h1 class="logo">
            <router-link to="/">            
                <a class="logo">
                    <img src="@/common/img/logo.png" alt="" />
                </a>
            </router-link>
        </h1>
    </div>
    <!--테블릿,모바일 헤더-->
    <div class="header mobile"> 
        <!--Main Menu HTML Code-->
        <div class="wsmain">
            <div class="nav_top">
                (주)데이타스에 오신 것을 환영합니다.
            </div>
            <nav class="wsmenu clearfix">
                <ul class="mobile-sub wsmenu-list">
                    <li><router-link to="/company"><a>COMPANY</a></router-link></li>
                    <li><router-link to="/consulting"><a>CONSULTING</a></router-link></li>
                    <li><router-link to="/solution/pamaster"><a>SOLUTION</a></router-link></li>
                    <li><router-link to="/contact"><a>CONTACT US</a></router-link></li>
                </ul>
            </nav>
        </div>
        <!--Menu HTML Code--> 
    </div>
    <!--//테블릿,모바일 헤더-->
    <!--pc 헤더-->
    <div class="hd pc"> 
        <!--Main Menu HTML Code-->
        <div class="hd-main">
            <router-link to="/">            
                <a class="logo">
                    <img src="@/common/img/logo.png" alt="" />
                </a>
            </router-link>
            
            <nav class="hd-menu clearfix">
                <ul class="mobile-sub hd-menu-list">
                        <!-- sublist example
                        <ul class="mobile-sub hd-menu-submenu">
                            <li><a href="/company">COMPANY</a></li></ul>
                        -->
                    <li><router-link to="/company"><a>COMPANY</a></router-link></li>
                    <li><router-link to="/consulting"><a>CONSULTING</a></router-link></li>
                    <li><router-link to="/solution/pamaster"><a>SOLUTION</a></router-link></li>
                    <li><router-link to="/contact"><a>CONTACT US</a></router-link></li>
                </ul>
            </nav>
        </div>
        <!--Menu HTML Code--> 
    </div>    
</template>