<script>
	import jQuery from 'jquery'
	import DatarseHeader from '@/components/template/Header_Datarse.vue'
	import DatarseFooter from '@/components/template/Footer_Datarse.vue'

	let $ = jQuery
	
	import '@/common/js/webslidemenu.js'

	document.documentElement.addEventListener('touchstart', function (event) { 

		if (event.touches.length > 1) { 
			event.preventDefault();
			} 
		}
	, false);

	document.addEventListener("touchstart", function() {},false);
	
	// jquery 사용
	$(function() {
		$('#wsnavtoggle').click(function () {
			$('.wsmenucontainer').toggleClass('wsoffcanvasopener');
		});
		$('.overlapblackbg').click(function () {
		$('.wsmenucontainer').removeClass('wsoffcanvasopener');
		});

		$('.wsmenu-list> li').has('.wsmenu-submenu').prepend('<span class="wsmenu-click"><i class="wsmenu-arrow fa fa-angle-down"></i></span>');
		$('.wsmenu-list > li').has('.megamenu').prepend('<span class="wsmenu-click"><i class="wsmenu-arrow fa fa-angle-down"></i></span>');
		$('.wsmenu-click').click(function(){
			$(this).toggleClass('ws-activearrow')
			.parent().siblings().children().removeClass('ws-activearrow');
			$(".wsmenu-submenu, .megamenu").not($(this).siblings('.wsmenu-submenu, .megamenu')).slideUp('500');
			$(this).siblings('.wsmenu-submenu').slideToggle('500');
			$(this).siblings('.megamenu').slideToggle('500');	
		});
		
		$('.wsmenu-list > li > ul > li').has('.wsmenu-submenu-sub').prepend('<span class="wsmenu-click02"><i class="wsmenu-arrow fa fa-angle-down"></i></span>');
		$('.wsmenu-list > li > ul > li > ul > li').has('.wsmenu-submenu-sub-sub').prepend('<span class="wsmenu-click02"><i class="wsmenu-arrow fa fa-angle-down"></i></span>');
		
		$('.wsmenu-click02').click(function() {
			$(this).children('.wsmenu-arrow').toggleClass('wsmenu-rotate');
			$(this).siblings('.wsmenu-submenu-sub').slideToggle('500');
			$(this).siblings('.wsmenu-submenu-sub-sub').slideToggle('500');		
		});

	});

	export default {
		components: {
			DatarseHeader, DatarseFooter
		}
	}
</script>

<template>
	<div class="wsmenucontainer clearfix">
		<DatarseHeader></DatarseHeader>
		<router-view />
		<DatarseFooter></DatarseFooter>
	</div>
</template>
